[2016-10-01 18:01] hovancik opened #16 "Linux app won't run unless root"
App wont run unless run as root as described here: https://github.com/electron-userland/electron-builder/issues/786

As workaround we should try using electron-builder v7.3.0

[2016-10-04 17:38] hovancik commented on #16
We will upgrade package as it was fixed in newer version

[2016-10-04 17:49] #16 closed

[2016-10-10 08:05] ahallicks opened #20 "Selecting a sound more than once doubles the volume"
I'm not sure if it's just a Windows (10) thing, or my system, or what. But when I select a sound, change it, and then select the first sound again it gets louder. If I do this a couple of times it gets REALLY loud!

[2016-10-10 08:23] hovancik commented on #20
thanks for the report, I can confirm that it is happening on macos too. going to look into it.

[2016-10-10 09:47] #20 closed

[2016-10-10 09:47] hovancik commented on #20
issue has been fixed, gonna release new version soon.

[2016-10-20 16:02] 183amir opened #31 "Create longer breaks"
Hi, thank you for this great app. I was using workrave but that is really showing its age.

How hard would be to implement longer breaks?

Thanks.

[2016-10-20 16:08] hovancik commented on #31
Hi, how you like to longer breaks to work? I can image few systems how it could work...

[2016-10-20 16:21] 183amir commented on #31
Ideally I want what http://www.workrave.org/ does. It has two breaks: microbreaks, and longbreaks.
Every 10 minutes gives 20 seconds microbreaks by default (which I disable).
Every 45 minutes gives 10 minutes breaks which I use all the time.

[2016-10-20 17:14] hovancik commented on #31
I will think about mechanism and how to implement it and try to do it ASAP. I will probably write here for more feedback.

[2016-10-21 13:10] stribny opened #33 "Support for multiple monitors"
Currently I see notifications displayed across my two monitors, centered as they were one.

Would it be possible that the notification is centered on one (primary) monitor?

[2016-10-21 13:12] stribny opened #34 "Support for Gnome 3"
I don't see the app icon in my Gnome 3 tray.

[2016-10-21 13:14] 183amir commented on #34
Have you installed `libappindicator-1`?

[2016-10-21 13:15] hovancik commented on #33
What's your setup? I have 2 monitors and I get message only at primary monitor (macOS).

[2016-10-21 13:19] stribny commented on #33
Fedora 24, Gnome 3, one external and one internal monitor (laptop).

[2016-10-21 13:22] stribny commented on #34
It seems installed, getting `Package libappindicator-12.10.0-11.fc24.x86_64 is already installed, skipping.`

[2016-10-21 13:23] 183amir commented on #34
Your tray is in bottom left of your screen. Have you checked there?

[2016-10-21 13:24] hovancik commented on #33
https://github.com/electron/electron/blob/master/docs/api/screen.md

I believe I found API for it, will implemented hopefully over weekend. Thanks for the feedback!

[2016-10-21 13:39] hovancik commented on #33
@stribny btw, do Settings and About windows work the same?

[2016-10-21 13:49] stribny commented on #34
Oh, I expected it on the top bar, sorry! Closing, the icon is in the tray.

[2016-10-21 13:49] #34 closed

[2016-10-21 13:54] 183amir commented on #34
You can use this: https://extensions.gnome.org/extension/1031/topicons/ to bring it up.

[2016-10-21 15:45] hovancik commented on #33
Would you be willing to try running whether https://github.com/electron/electron-quick-start works fine? I mean whether the window it creates is in the middle of primary screen?

If not, I believe it's electron bug, or some weird Gnome 3 thing. According to docs that I have found, the way I create those windows is correct.

[2016-10-21 16:02] 183amir commented on #33
Both stretchly and electron both open in my secondary monitor (which is my laptop's).

[2016-10-21 16:38] hovancik commented on #33
What's your OS?

[2016-10-22 07:51] 183amir commented on #33
Arch Linux gnome 3.22

[2016-10-22 13:33] hovancik opened #35 "update check on start up when offline says new version is available"

[2016-10-22 13:49] #35 closed

[2016-10-22 14:01] hovancik commented on #33
@stribny would you be willing to try https://github.com/electron/electron-quick-start ?

I have macOS and Windows OS confirmed to work correctly, so this appears to be electron, not stretchly bug.

Could you guys report it to electron? I have no linux machine myself.

[2016-10-24 12:07] stribny commented on #33
@hovancik Yes, I am going to try the electron example.

[2016-10-25 08:28] stribny commented on #33
Ok, so I am attaching two screenshots, they are taken from my left monitor. On one of them you can see Electron demo aligned to the right. This is also the place where stretchly Settings and About windows are displayed. On the other one you can see stretchly in action - only half of the window is displayed on this screen.
![electron-2-screens](https://cloud.githubusercontent.com/assets/313952/1967

[2016-10-25 13:16] hovancik commented on #33
@stribny  so this is obviously electron linux issue. On mac and windows this works correctly. Would like to report issue to electron? Or I can do it.

I don't have Linux machine right now.

[2016-10-25 18:22] 183amir commented on #33
Arch Linux, gnome 3.22

On Fri, Oct 21, 2016, 6:38 PM Jan Hovancik <notifications@github.com> wrote:

[2016-10-27 16:03] hovancik commented on #33
so one more idea from good people on electron slack: could you try different VM?

[2016-10-27 16:08] 183amir commented on #33
What do you mean by VM? Do you mean Window Manager?

[2016-10-27 16:35] hovancik commented on #33
Yep, KDE, e17, XFCE or that stuff. I still don't have inux machine, so... But people said there is problem with Linux in general that different VMs take ideas about multiple displays differently.

[2016-10-27 16:38] hovancik commented on #31
So this is still WIP because I am making some changes about how stuff works internally. If you wanna, checkout to `topic` branch and try it out. It's my playground, so i am force pushing there, so hard reset might be needed when I update the branch.

Feedback welcome ;]

[2016-10-27 16:40] 183amir commented on #33
They are not VMs they are WMs. and you can install Linux using virtual machines (VMs) if you have time. I am not going to install KDE or anything on my machine to test this. Maybe @stribny can try it.

[2016-10-27 16:42] hovancik commented on #33
Ah, ok. I have virtual machine but I don't know how to have more displays with it.

[2016-10-27 16:46] hovancik commented on #33
so virtualbox suports it, going to download it now. ;] thanks for the idea

[2016-10-27 16:49] 183amir commented on #33
You can also try Linux with a live USB.

[2016-10-28 15:21] stribny commented on #33
Once I find some time I will try the KDE. @hovancik If you talked to Electron guys, can you post a link here to the discussion?

[2016-10-30 13:23] hovancik commented on #33
It was on slack channel with some people that also make cross platform apps

[2016-11-06 10:25] #31 closed

[2016-11-15 10:43] Pierre-lbt commented on #33
Same issue for me : LinuxMint 17.3 with Cinnamon 2.8.8

[2016-11-15 11:43] hovancik commented on #33
Thanks, I'll open an issue on electron repo.

[2016-11-16 17:04] hovancik commented on #33
Here is the issue I've opened: https://github.com/electron/electron/issues/7991

[2016-11-18 08:33] stribny commented on #33
@hovancik Thanks for looking into it! Seems like we just need to wait for a fix in Electron. Pasting the link to the bug issue: https://github.com/electron/electron/issues/3490

[2016-11-23 10:21] hovancik commented on #33
@stribny would you like to try https://github.com/hovancik/stretchly/tree/fix/dual-linux ?
I am trying to workaround the issue there. Would be nice if you could try with one and then 2 displays. Seems to work OK on VirtualBox, but real hardware test would be better.

[2016-11-23 11:44] stribny commented on #33
@hovancik Yes, I can. I will try to find the time for it this week. Thanks!

[2016-11-25 23:11] 183amir opened #44 "Better integration into Gnome Shell Environment"
Is it possible to have [d-bus](https://www.freedesktop.org/wiki/Software/dbus/) available in the app?
The idea is to create a gnome shell applet for this app which is only possible through dbus.
An example for workrave is here: https://github.com/rcaelers/workrave/blob/branch_v1_10/frontend/applets/gnome-shell/src/extension.js

[2016-11-25 23:16] 183amir commented on #44
More info: https://developer.gnome.org/gio/unstable/GDBusConnection.html Javascript bindings are also available.

[2016-11-26 11:32] hovancik commented on #44
I'll need some time to read about it.

gnome shell applet =  GNOME Shell Extensions (https://extensions.gnome.org/)?

[2016-11-26 12:05] 183amir commented on #44
yes

[2016-11-28 09:11] stribny commented on #33
@hovancik  The fix works for me!

[2016-11-28 09:13] hovancik commented on #33
Awesome, will try to release soon.

[2016-11-28 12:21] #33 closed

[2016-11-28 16:57] hovancik commented on #44
So from what I understand, it's something like electrons IPC (https://github.com/electron/electron/blob/master/docs/api/ipc-main.md)

What is the reason to build Gnome extension when we have electron? I would rather build something with electron so it's on all platforms, rather then only on Linux.

[2016-11-28 17:31] 183amir commented on #44
This will replace the tray icon in the gnome shell environment.
Tray icons are deprecated in Gnome Shell and your app is mainly (only) managed through its tray icon.
The idea is to show an applet on top of the screen which is only possible through a gnome shell extension. Like the timer and coffee icon shown below from Workrave.
![image](https://cloud.githubusercontent.com/assets/5738695/20678287/

[2016-11-28 17:36] 183amir commented on #44
So why do you need Dbus? because your gnome-shell extension will run in another process (in gnome shell process itself) and you will need a way to get information from your main app (like how much is left till the next break) in order to show it on the applet.
But anything that does inter-process communication and is supported in Gnome shell is feasible not just DBus. But, DBus is the only one tha

[2016-11-29 09:01] hovancik commented on #44
Have you tried this https://extensions.gnome.org/extension/712/traytop/ or https://extensions.gnome.org/extension/1031/topicons/?

From my point of view integrating dbus and creating extension would take a lot of time. I believe it's something that maybe electron should do? Maybe we should create issue on electron and ask them to support Gnome way of handling tray?

[2016-11-29 09:28] 183amir commented on #44
Yes, those extensions work but not perfectly. I am talking about design philosophy of your app :)
Tray icons, while easy to implement, are not really good design choices.
IMHO, your app needs a main window which can be activated by running the app again (or through its gnome applet). When you have the main window, you can make the tray icon optional.

Also, as you can see an applet does much more

[2016-11-30 07:28] hovancik commented on #44
To be honest, my plan with stretchly is to be intrusive, because it solves the problem that I have: can't force myself to take breaks. And I also want it to be minimalistic, so I don't plan to add any main window. I would like to add time information about when is the next break coming up, but I need to think about the way how to display it. That's because I wanna do it multi-platform, not only Li

[2016-11-30 09:34] 183amir commented on #44
That's ok. As I said I set Workrave to silent mode otherwise it can be very intrusive too.

This can be serve the purpose of a main screen as well.

IMHO, multi-platform does not mean do the same thing for every platform. Some design ideas don't work for other platforms. You'll end up with having a semi-working interface on all platforms. Interfaces that just don't fit with the rest of the apps in

[2016-11-30 15:42] hovancik commented on #44
How would you image "silent mode" should be with stretchly? I like that idea.

I am a little bit hesitant with adding dbus because right now I have no npm package as dependency, and I am trying to keep it that way (It sometimes causes troubles with packaging from what I hear on electrons slack).

[2016-12-01 09:32] 183amir commented on #44
Good question, I have to give it a little thought.

[2016-12-06 19:26] georgedorn opened #50 "Feature: manager for our own break ideas"
I'd love to be able to add a couple break ideas specific to myself, like "spend ten minutes weeding the garden" or "go for a jog".

As a followup, some break ideas might be worth submitting back to a repo, but then users should also be able to blacklist ones that don't apply.  That last part might be important for a11y, too.

[2016-12-07 07:35] hovancik commented on #50
I guess you are right, I will think about how to implement it.

[2016-12-07 21:49] georgedorn commented on #50
Since many (most?) users are either developers or heavy computer users, a first version of the feature could just be moving or copying the lists of breaks to a JSON or YAML file in the user's homedir and add an option in the menu to open that file.  It does get tricky when updating to a new version, but you could store the app version number in that file, too, and if the app updates and sees an ol

[2016-12-08 07:41] hovancik commented on #50
Yeah, I was thinking the similar way:
I would have 2 files: one with hardcoded ideas  and then file with ideas created by user. Those 2 files would be concat by app and user can enable/disable them via settings probably.

If you wanna, we can do this PR together, I am not nodejs developer myself, and I am very open to the idea.

[2016-12-08 08:23] 183amir commented on #44
A silent mode is only possible when you have some way of indicating the breaks' status.
The minimal way that is possible through the app now is I think to change the color of the tray icon to something like green and red to show that when you are in the timer.
Another approach would be to push a silent notification (when the timer is up) so that it would show up in the notification center assuming

[2016-12-10 06:48] greenkeeper[bot] opened #51 "An in-range update of electron is breaking the build 🚨"
## Version **1.4.12** of [electron](https://github.com/electron-userland/electron-prebuilt) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hovancik/stretchly/compare/greenkeeper%2Felectron-1.4.12">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      electron
    </td>
  </tr>
  <tr>
    <

[2016-12-12 07:54] greenkeeper[bot] opened #52 "An in-range update of electron-builder is breaking the build 🚨"
## Version **10.7.0** of [electron-builder](https://github.com/electron-userland/electron-builder) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hovancik/stretchly/compare/greenkeeper%2Felectron-builder-10.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      electron-builder
    </t

[2016-12-12 08:12] #52 closed

[2016-12-12 08:12] #51 closed

[2016-12-12 08:13] hovancik commented on #44
I'm busy right now, but I will think about it as well.

[2017-01-11 13:06] hovancik opened #54 "Add to `Apps built on Electron`"
- tweak the logo to be in svg
- https://github.com/electron/electron-apps#adding-your-app

[2017-01-16 07:49] wangzk commented on #44
@183amir
Can your stretchly pop up normally in Gnome Shell? I am using Arch Linux and I find that stretchly can not pop up but just give a notification in Gnome Shell, thus to see the reminder from  stretchly I have to open the app by myself.

[2017-01-16 07:52] hovancik commented on #44
@wangzk what version do you have? (os, gnome, stretchly)? I'll in virtualbox

[2017-01-16 09:07] 183amir commented on #44
@wangzk I had the same problem but I am not using stretchly anymore.

[2017-01-17 09:15] wangzk commented on #44
@hovancik Hi, I am using Arch Linux and Gnome Shell 3.22.2. I see Fedora 25 has the Gnome Shell 3.22.2 version and maybe it is enough to reproduce the problem.

By the way, the tips from stretchly is funny :)

[2017-01-18 08:34] hovancik commented on #44
@wangzk thanks ;]  I've tried and you are right about Gnome Shell. Will try to find fix.

[2017-01-18 20:11] hovancik commented on #44
@wangzk seems that this a Gnome "feature":  https://major.io/2015/07/06/allow-new-windows-to-steal-focus-in-gnome-3/ or http://superuser.com/questions/644850/disable-window-is-ready-notification-in-gnome-shell

[2017-01-19 01:43] wangzk commented on #44
@hovancik Thanks for your time to investigate this problem and the blogs you find solve the problem. Finally I can happily use stretchly in Gnome Shell again!
Thanks a lot :+1:

[2017-01-19 06:25] hovancik commented on #44
@wangzk welcome ;] which solution worked for you?

[2017-01-19 07:44] wangzk commented on #44
@hovancik I use the dconf-editor way as suggested in the first blog :)

[2017-01-19 08:31] hovancik commented on #44
@wangzk great, glad it works

[2017-01-19 08:33] hovancik commented on #44
I am closing this issue:
- I am not planning to do d-bus integration
- adding some kind of `silence mode` will be added to TODO
- Gnome shell not opening break window was resolved as well

[2017-01-19 08:33] #44 closed

[2017-01-24 10:06] hovancik opened #57 "Feedback"
Hi, I got some feedback from https://github.com/sindresorhus/awesome-electron/pull/420#issuecomment-274509218

What do you think? (if anyone here ;]). I will implement some stuff, but I don't plan to work on plaform-specific stuff.

[code]

[2017-02-10 20:18] mdekstrand opened #59 "Monitor system idle time for natural breaks"
It'd be fantastic if stretchly could monitor user idle time for 'natural' breaks - if I've been away for the computer for 10 minutes, for example, it should count as my last break and restart the timer when I come back. Ditto for 1-minute rests resetting the microbreak timer.

Both Workrave and Time Out (for Mac) have this feature.

I do not know if Electron exposes the necessary hooks to implemen

[2017-02-11 13:10] hovancik commented on #59
I've been looking into that some time ago, there was some node package. Not sure how platform specific.

[2017-02-12 12:28] itay-grudev opened #60 "Support for Monochrome icon on OS X"
Could you add support for monochrome icons on OS X so the icon doesn't look ugly in the menu bar. Also a HighDPI (2x) icon would be appreciated, as it looks quite pixelated on Retina displays.

[2017-02-12 14:18] hovancik commented on #60
Thanks for feedback, I'll try.

[2017-02-13 02:24] chuck13 commented on #59
I found this module (https://github.com/paulcbetts/node-system-idle-time) while trying to add idle detect support, It seemed enough for me.

p.s. another way to add idle detection on OS X http://stackoverflow.com/questions/2922846/detecting-user-activity-on-mac-os-x

[2017-02-13 08:46] niladam commented on #57
Most of the feedback you have there is very good. I'm opening my own issue now too :)

[2017-02-13 08:48] niladam opened #61 "Multiple monitors"
I just started using this and for some reason -- i'm using multiple monitors -- it doesn't show the break on both monitors ?

I think you could try and tie the break notification to where the mouse is ? (this way you'd get a better reading what's the current 'selected' monitor);

I also think it would be great to have the notification full screen.

[2017-02-13 09:00] hovancik commented on #59
that package is for linux only, right? @chuck13

[2017-02-13 09:18] hovancik commented on #61
Thanks for the feedback ;]

Right now the break should be shown only on 'primary' monitor. Working with more monitor sucks a bit, especially with Linux. I like the idea of showing notification where the mouse is, I'll try to implement it.

Fullscreen could be added to options, too.

[2017-02-13 09:41] chuck13 commented on #59
@hovancik no, it's for Linux, OS X and Windows 😃

[2017-02-13 09:44] hovancik commented on #59
Ah, I see. I misread the readme ;]

[2017-02-15 09:55] hovancik commented on #61
@niladam would you like to test it from source?
I've pushed changes to `feature/multiple-monitor-enhance`

[2017-03-02 13:56] pmontepagano opened #63 "Time remaining in icon"
It would be nice if there was an option to make the icon represent how much time there is left until next break. I was thinking in a circle that fills/empties, similar to MacOS progress icon.
![240_degrees_filled1600](https://cloud.githubusercontent.com/assets/1820549/23510086/f0c1677c-ff36-11e6-9cd5-2e0db16b3677.png)

[2017-03-03 17:12] hovancik commented on #63
Thanks, I like the idea. Will check if that's possible with electron

[2017-03-03 19:06] #61 closed

[2017-03-06 08:29] #60 closed

[2017-03-06 08:36] hovancik commented on #57
so some stuff was implemented. closing for now, people are welcome to open their own issues.

[2017-03-06 08:36] #57 closed

[2017-03-08 10:48] hovancik commented on #63
So this is possible, but I will need help with creating images  (of tray icon) in different stage of the animation for this. This might take some time.

[2017-03-19 04:06] birkany commented on #59
But what if I was reading a technical article and looking to an equation for more than 10 minutes? It is not an idle time actually. It may be hard to distinguish this natural breaks. So I may suggest adding a reading mode also, so the application won't try to detect natural breaks and continue counting down when the reading mode is selected. Some users may like to use in reading mode always, if th

[2017-03-20 02:01] mdekstrand commented on #59
@birkany having it configurable would make sense, particularly since different people have different needs.

I use it almost entirely to manage RSI, with vision breaks as a side benefit, so as long as I am not operating the keyboard or mouse, I am 'taking a break'.

[2017-03-20 10:21] hovancik commented on #59
Hey guys,

just wanted to let you know, that this feature is coming very slow (in fact, I am not working at it now). In those mentioned npm packages, there is stuff I do not understand, so I am a bit like "not wanna use them" right now.

Anyhow, I am thinking about adding it for macOS as test. How about showing notification, when idle time is detected?

[2017-03-20 12:33] chuck13 commented on #59
That would be very cool, I'm looking forward to the new feature.

[2017-03-20 15:21] birkany opened #68 "A JavaScript error occurred in the main process"
I was just dragging two files on to my email (gmail) for attaching them, and a micro break screen popped out :) and I saw that the file contents are put into green stretchly screen :) and after micro-break screen disappeared, an error message popped out. I hope I had given enough information :)

P.S. files were text files of  10-50 lines matlab code

![image](https://cloud.githubusercontent.com/as

[2017-03-20 15:32] hovancik commented on #68
Thanks, I will try to reproduce. What platform are you on?

[2017-03-20 16:29] birkany commented on #68
Mac Os X 10.9.5

[2017-03-21 08:03] hovancik commented on #68
Thanks. I've found out that drag'n'drop is enabled by default. I will be blocking it from now on, that should prevent the issue.

[2017-03-21 10:02] #68 closed

[2017-03-23 08:15] Robert-M-Muench opened #71 "Break Countdown"
If a break is currently active a countdown would be nice so I can see how long the break will last.

For some ideas: http://www.dejal.com/timeout/

[2017-03-23 08:18] Robert-M-Muench opened #72 "Postpone Break for X minutes"
Sometimes your are really concentrated and actively working, and a break in that second is just annoying. Two ideas:
* Monitor keyboard activity and wait for a X seconds gap before showing the break
* Add a "postpone by  X minutes" option. See: http://www.dejal.com/timeout/

[2017-03-23 12:29] birkany commented on #72
What if keyboard activity never stops? and indefinitely waiting for X seconds gap seems conflicting with the philosophy of the program.

[2017-03-23 12:36] hovancik commented on #72
The main idea of stretchly is to **enforce** breaks (even thought you might think you are in *flow*).

I do not plan to add postpone, as you can skip break (with keyboard if you like). What I plan to add is maximum number of skip-able  breaks, after which you wont be able to skip break anymore.

Right now, you can skip break and then start it later, when finished with your current task.

[2017-03-23 13:00] Robert-M-Muench commented on #72
I would use a threshold to wait and then show the break. The idea is, that I just don't want to be reminded for a break now but maybe in 3 minutes when I just finished this one task.

Interruption is productivity killer number 1. Breaks are important, so there needs to be an intelligent balance.

[2017-03-23 14:42] hovancik commented on #72
What do you mean by threshold? I don't understand it. Maybe some example?

[2017-03-23 14:52] Robert-M-Muench commented on #72
Scenario: I'm working and use the keyboard, then a break is triggered Stretchly now checks if I stop typing within a threshold (let's say 3 minutes) and if, starts the break then. If the threshold is passed, the break breaks in and interrupts me.

The idea is, to minimize interruptions in concentrated work sessions. I like these tools but all suffer, that sometimes I don't want to have hard breaks

[2017-03-23 20:28] hovancik commented on #71
Thanks, I'll implement a simple progress bar.

[2017-03-24 13:27] hovancik commented on #71
How about this?
![screen shot 2017-03-24 at 14 23 01](https://cloud.githubusercontent.com/assets/4745859/24296107/fb3ac612-109d-11e7-8309-909022d19c74.png)

There is also  #63 but that will take more time.

[2017-03-24 13:43] hovancik commented on #72
I like it. Problem is that I don't know how to implement it cross-platform. Don't wanna do it macOS only.

[2017-03-24 14:52] Robert-M-Muench commented on #71
Looks great! How about adding the numbers counting backward? Or the time passed to fit the progress bar.

[2017-03-24 14:57] hovancik commented on #71
Where would you add it? Not sure where to put it.
I, personally, am minimalist, so I don't like too much stuff being show.

[2017-03-24 14:58] Robert-M-Muench commented on #72
I don't have any experience with Electron. Do you know if it's possible to register for native messages or something like this? Or to access the native platform in any way? In the latter case a simple proxy "keyboard activity tracker" could be implemented.

[2017-03-24 15:03] Robert-M-Muench commented on #71
Me too. Small text below the bar would fit.

The idea here is: If I have a 5-minute break, I go, grab some water, fresh air. Come back and glance at the screen "ah, still 2 minutes. Ok, I still can do ..."

[2017-03-24 15:05] hovancik commented on #72
Didn't research it thoroughly, but : https://stackoverflow.com/questions/32986359/listen-for-keyboard-events-and-mouse-movement-outside-of-electron-app/33693917#33693917

This app is exercise in writing nodejs app, so I am kinda reluctant in doing/using stuff that I do not understand (They are some packages trying to detect user idle time).

[2017-03-24 15:43] hovancik commented on #71
![screen shot 2017-03-24 at 16 42 35](https://cloud.githubusercontent.com/assets/4745859/24301870/fc26bd02-10b0-11e7-8d3c-d83c2cdb7a26.png)

[2017-03-27 11:08] didil commented on #71
👍 on the feature last screenshot

[2017-04-02 14:04] itay-grudev commented on #60
I just downloaded the new version. Thanks!

[2017-04-02 15:20] #71 closed

[2017-04-07 20:55] sxmanton commented on #63
I don't think you need to create a ton of images. It seems feasible to me that you could use a similar approach as in this project: https://github.com/asheb/timer
It appears to create a hidden window where it can use a canvas to programatically draw the arcs, which is then retrieved via nativeImage.createFromDataURL

I think you could just set the current icon in the background of the canvas, then

[2017-04-09 08:58] hovancik opened #76 "Address issue found in app/break.js [Opened by bitHound]"
bitHound discovered 1 DuplicateFunction in [app/break.js](https://github.com/hovancik/stretchly/blob/8d8df86cbb5d89ff0ae97d3702a8f92546186796/app/break.js). For details go to [bitHound](https://www.bithound.io/github/hovancik/stretchly/blob/8d8df86cbb5d89ff0ae97d3702a8f92546186796/app/break.js).

[2017-04-09 16:15] sxmanton opened #77 "[bug] Object destroyed at Timeout.finishMicroBreak"
Hi, I encountered this error a couple times. Seems like it may be related to https://github.com/hovancik/stretchly/issues/68 due to same stack trace.

I am unsure of what the trigger may have been, I do not remember if I was doing any specific action before the break window appeared that would trigger it. For what it's worth I don't think I was drag and dropping at the time, but I'm not totally su

[2017-04-10 03:55] mstorus opened #78 "restore previous application focus after break"
After a break or microbreak is over, I would like focus to be restored to the previously active application.
Currently, for example, if I have Chrome open and then a microbreak begins, when the microbreak is over (or I press Ctrl-x), focus is not automatically restored to Chrome. I have to click on the Chrome window or use the Mac application switcher to restore focus to Chrome. (the quickest way

[2017-04-10 07:31] hovancik commented on #77
Thanks. Seems that I can reproduce it by doing "Cmd/ctrl+R" when in break window. Which probably causes the part of code that counts how much time is left to init twice. I'll find time to debug that.

[2017-04-10 07:34] hovancik commented on #78
This might be OS specific thing, not solvable with electron, but I will try to find solution.

I've just added `Menu.sendActionToFirstResponder('hide:');`in my code that seems to help, but I will need to test it more.

[2017-04-11 09:21] #77 closed

[2017-04-11 10:40] #76 closed

[2017-04-12 07:05] #78 closed

[2017-04-14 20:18] casmarrav opened #82 "[mac] Does not refocus active app after break"
One of the most annoying factors for me at this time is when a break is over, the OS is in a state where stretchly is the active app, but no windows of it are open. This breaks a continuity in workflow for people who use mostly the keyboard (eg programmers).

[2017-04-15 07:10] hovancik commented on #82
Hi, this is already fixed on master. Will try to release soon.

[2017-04-15 07:10] #82 closed

[2017-04-15 18:23] casmarrav commented on #82
Awesome!

[2017-04-24 06:17] Robert-M-Muench opened #85 "FR: Time range when stretchly should be active"
IMO it doesn't make sense that I get the 1st micro break indicator after a couple of minutes after I booted my system. I would like to be able to define a start time, when stretchly should begin. So I could set it to 10:00 and before I'm not interrupted.

[2017-04-24 06:18] Robert-M-Muench opened #86 "FR: Counter for finished / skipped breaks"
I would like to see the ratio of done and skipped breaks. This could be tracked over time and shown so I can improve on doing breaks. I must say that I'm skipping micro breaks a lot as the interruption is just to annoying while working on something.

[2017-04-24 14:30] hovancik commented on #86
I have idea about this from beginning, but didn't have time to implement it yet:
- count how many micro/breaks are skipped and calculate some number (or another logical value)
- based on that number/value do not let skipping breaks and/or show break window with some "warning" graphics (the higher value, the more intensity)

[2017-04-28 23:54] mstorus opened #87 "erroneous 'a new version is available' messages"
I'm on the latest version, 0.8.1, but I occasionally get messages popping up saying "a new version of Stretchly is available"

Also, the About screen shows `latest version: undefined`

![about stretchly v0 8 1](https://cloud.githubusercontent.com/assets/1182738/25550962/225020b6-2c33-11e7-9393-d386597dcfd9.jpg)

Mac OSX 10.12.4

[2017-04-29 08:24] hovancik commented on #87
Thanks for the report. Are you online or offline when it happens?

[2017-04-29 08:28] mstorus commented on #87
I'm online when it happens

[2017-04-29 16:22] hovancik commented on #87
Thanks, not sure what is causing it, but there is an easy way to fix it.

Right now I am doing
[code]
which is bad way to do it. It should be checking whether version returned is in `A.B.C` format via regex or so.

If anyone is interested, it should be easy to change. Just write here so more people wont do it at once. If no-one, I will do over next few days when I find a time.

[2017-05-03 14:20] hovancik commented on #87
I'll do it then.

[2017-05-03 14:33] #87 closed

[2017-05-04 10:53] Robert-M-Muench opened #89 "FR: Free configurable pause skipping"
Most web meetings run 1h, so I log in 5 min before and maybe it runs 10 min longer.

Hence I would like to pause Stretchly for 1,5h because 1h is too short and 2h is normally too long.

[2017-05-06 16:21] mdekstrand commented on #59
I have started working on this in a branch on my fork, but am currently running in to a problem where the Electron process cannot load the system-idle-time bindings.

[2017-05-06 19:19] hovancik commented on #59
@mdekstrand how about going with macOS only right now?

with `ioreg -c IOHIDSystem | awk '/HIDIdleTime/ {print $NF/1000000000; exit}'`

[2017-05-06 19:34] hovancik commented on #59
Anyway, we should maybe use https://github.com/electron-userland/electron-forge which should take care of the problem with native modules, but it's big change.

[2017-05-06 21:49] mdekstrand commented on #59
@hovancik Windows is my only desktop platform right now.

Does the `BreaksPlanner` code get run in the Chrome front-end process or the Node back-end? That is where I am trying to load the system-ide-time module.

[2017-05-06 22:07] mdekstrand commented on #59
Turns out that `electron-rebuild` will fix the problem. https://electron.atom.io/docs/tutorial/using-native-node-modules/

[2017-05-06 22:46] mdekstrand opened #94 "Refactor schedule management responsibilities into a single class"
Right now, `BreaksPlanner` plans the next break, but executing that break is handled by code in `main.js`. This means the 'what state are we in?' logic is split between these two files, with a complex interaction bouncing between them through interval timers.

In #93, I integrated the idle time break skipping into `BreaksPlanner`, but this solution feels somewhat hacky.

I think it might help to h

[2017-05-07 16:12] sxmanton opened #95 "Running tests causes test-missing.json to be deleted"
At any rate, any time I run the full test suite, the test-missing.json file is deleted and I have to be careful not to add the deletion into the commit, and git reset it to restore it. Is this an intentional behavior?

The cause seems to be, in the test/settings.js:
[code]
and in app/utils/settings.js:

[code]

What is the reason for this destroy function? I can't find it being called anywhere bes

[2017-05-08 10:10] hovancik commented on #63
I think we can close this with https://github.com/hovancik/stretchly/pull/92 ?

[2017-05-08 10:22] hovancik commented on #95
Yeah, it's in `afterEach`, so it gets called after every test, to make sure test data are always correct.

In this case, I guess I could do `missingSettings = new Settings(testMissingFileLocation)` instead of `settings = new Settings(testMissingFileLocation)` to avoid it.

[2017-05-08 10:36] hovancik commented on #95
It will get changed anyway.. Not sure how to fix this.

[2017-05-08 10:51] hovancik commented on #94
Hi, I totally agree. To be honest, stretchly is learning exercise of nodejs/JS for me. I wanted to create single object responsible for everything you mentioned, but I did not/do not have knowledge of how to do it node way. Basically, I hoped one day stretchly would get some attention and someone would come and critique my code and help me learn something. So I am glad you started this issue.

Eg,

[2017-05-08 11:23] #95 closed

[2017-05-08 13:29] sxmanton commented on #63
I'd still like to give the animated icon a shot at some point, but I do think the tooltip is sufficient

[2017-05-08 13:59] hovancik commented on #63
I am closing it. Thinking about it now, after some time, I think it would probably be obtrusive to always have animated icon in tray. I would not like it, personally. I like your solution the best.

[2017-05-08 13:59] #63 closed

[2017-05-08 14:18] mdekstrand commented on #94
Glad to help!

Life is made easier since you're using ES6 classes :). You can write:

[code]

The `EventEmitter` base class takes care of all the event handler management for you. So then code in the break manager can write:

[code]

And other code can write:

[code]

I personally think it would be a better separation of concerns if the manager is responsible for starting *and* stopping the break

[2017-05-09 12:28] hovancik commented on #94
For the sake of other people and me reminding myself, here is how it's working now:

 - `Scheduler` - takes in function and delay and basically calling `setTimeout` when doing`scheduler.plan()`
- `BreaksPlanner` - takes care of planning next break (figuring out what kind of break it should be based on settings) and returns `Scheduler` (also skipping to micro/break, pause, resume, reset)
    - some

[2017-05-09 15:07] sxmanton commented on #94
On this topic, I wanted to inquire, I'm a little confused why the scheduler has the plan function in the first place. I know in some spots you call nextBreak and then check that the result was not null before calling plan, but I don't really see what that accomplishes. Every instance of that happening is basically like
[code]
 I think that the setTimeout call could just occur in the constructor fo

[2017-05-09 15:36] mdekstrand commented on #94
With a break scheduler/planner/manager responsible for everything, there's yet another design that would be my go-to that doesn't even require `Scheduler`, and makes the break manager more like a state machine.

Basically, have a method `BreakManager.update()` that runs periodically and does a few things:

1. Get current idle time (if enabled)
2. See if we need to transition states (start or stop

[2017-05-09 18:06] hovancik commented on #94
@sxmanton plan was to have BreaksScheduler only schedule breaks, do not actually create timers. When I created it, I wasn't sure what would be the node way to talk between processes/objects and so on, so I did it the way I did it. I agree it could be simplified, I hope we gonna find some good consensus here.

@mdekstrand that could be interesting as well. Maybe we can try different approaches and

[2017-05-10 07:45] hovancik opened #98 "setToolTip not working on macOS"
So I have notices that setToolTip is not working correctly on macOS.
easy way to reproduce is:

start app, skip to next break, cancel break -> . tooltip is not there

Seems to work on Linux.  @sxmanton how about Windows? I didn't tested there yet.

I would like to solve this before making a release. I guess I should open issue with electron.

[2017-05-10 17:41] sxmanton commented on #98
I have no problem having the tooltip show when reproducing that sequence of actions on windows. Testing it did make me realize that the initial tooltip wasn't showing for 10 seconds, so I fixed that in above PR. Does the tooltip show up on mac initially (after the 10 seconds, anyway) if you don't skip to break?

[2017-05-11 07:33] hovancik commented on #98
Yeah, it shows up correctly.

But then it's kinda weird:
- shows correct info when we wait for the first break (although sometimes I have to go around with my mouse for it to show up)
- it shows correct tooltip when first break is on
- after break is over there is no tooltip
- on next break, the tooltip is correct again
- repeat

Function to update tooltip gets called correctly  every 10 seconds.

[2017-05-11 08:39] hovancik commented on #98
So I figured it out:

after first break, when tooltip is not showing, one does need to open some window, eg: about app. Then tooltip starts showing up again, until next break is over.

[2017-05-11 12:58] casmarrav opened #100 "Cmd+X does not skip the break anymore"
Ever since 0.8.1, where the break windows don't steal focus anymore (which I think is a big improvement), the shortcut for skipping doesn't work anymore.

[2017-05-11 13:04] hovancik commented on #100
What platform? It works on macOS fine for me.

What has changed is, that before it could be 'Cmd+x' or 'Ctrl+x', but right now it's based on platform:
mac is 'Cmd+x' only, windows, Linux is 'Ctrl+x', see [here](https://electron.atom.io/docs/api/global-shortcut/)

Maybe in your case some other program has that shortcut already? According to docs `When the accelerator is already taken by other appli

[2017-05-11 13:21] casmarrav commented on #100
I'm using dvorak, does that make it different? It used to work in 0.8.0.
Of course, Cmd+X is Edit>Cut in many applications. If I can, I'll test with a program that does not have that command.

[2017-05-11 13:28] hovancik commented on #100
Before I was catching keyboard input from break window. Now (to prevent errors and have correct focus) I have to use global shortcus, as I can't catch keyboard input from break window anymore.

I use eg. Atom editor, which has Cmd+x and works fine for me. I guess Atom's Cmd+X is not global, but local only. I have also tried with Dvorak and it works.

As I have no focus on break window app, I have

[2017-05-11 13:29] hovancik commented on #100
Maybe you can try: quit stretchly and try `Cmd+X` if anything happens.

[2017-05-11 15:15] sxmanton commented on #98
That's pretty strange. Maybe something in finishBreak or finishMicroBreak functions is what is breaking it? Does the tooltip disappear if you let the break finish naturally as well, or only if you cancel the break?

[2017-05-11 15:29] hovancik commented on #98
With natural end as well. I've tried small program, and it works fine, so I guess we are doing something wrong.

main.js

[code]

[2017-05-11 21:33] sxmanton commented on #98
I'm not really sure what this line does in finishBreak/finishMicroBreak but I have a feeling it might be causing issues?
[code]

[2017-05-12 08:27] hovancik commented on #98
Yes, you are right. I commented it out and tooltip was showing correctly. (could be `app.hide()` as well)

The mentioned code is there to bring focus to the last used application for macOS users. (https://github.com/electron/electron/blob/master/docs/api/app.md#apphide-macos)

[2017-05-12 14:49] hovancik commented on #98
I've opened issue https://github.com/electron/electron/issues/9447

[2017-05-12 15:00] sxmanton commented on #98
Ok, hopefully they can fix it before too long.

[2017-05-16 13:21] hovancik commented on #100
@casmarrav is it still an issue?

[2017-05-16 13:23] hovancik opened #101 "Electrino"
Hey guys,

there is a project to make electron more lightweight and I talked to it's dev. https://github.com/pojala/electrino

Stretchly might become it's test subject. Could be very interesting.

[2017-05-16 13:31] hovancik commented on #98
No answer on electron side. I guess I will make new release and create `Known bugs` in readme and changelog.

[2017-05-16 15:23] casmarrav commented on #100
Testing on Dvorak did you maybe use Cmd+Q?

[2017-05-16 15:26] hovancik commented on #100
Nope, `Cmd+Q` is not doing anything for me.

[2017-05-17 15:38] sxmanton commented on #98
Ok. Can we merge https://github.com/hovancik/stretchly/pull/99 before you do a new release?

[2017-05-17 17:12] hovancik commented on #98
Done. Will probably release today.

[2017-05-19 14:06] itay-grudev opened #103 "The app stays in the Dock on OS X"
v0.9.0

[2017-05-19 14:22] hovancik commented on #103
HI, this is now expected behavior, so we can have tray tooltip showing some stuff. It's not working very well because of electron issue (https://github.com/electron/electron/issues/9447), but I am keeping it there for now.

[2017-05-19 14:22] #103 closed

[2017-06-09 13:12] hovancik commented on #94
Guys, feel free to check changes I made and comment.

[2017-06-09 14:15] sxmanton commented on #94
Had a quick skim over and it looked pretty good to me. I can try to review more thoroughly sometime, although also I think @mdekstrand has a better understanding of event emitter architecture, so mostly will defer to his thoughts on this one.

[2017-06-17 12:48] #94 closed

[2017-07-13 07:00] 12people commented on #103
@hovancik Have you thought about making it optional? The dock icon annoys me quite a bit.

[2017-07-13 07:31] hovancik commented on #103
That could be done, the tray tooltip is buggy anyway.

[2017-07-13 07:38] 12people opened #106 "Make dock icon optional"
Please make the dock icon on macOS optional, as discussed at https://github.com/hovancik/stretchly/issues/103#issuecomment-314996292

[2017-07-13 07:39] 12people commented on #103
Forked this into its own task: https://github.com/hovancik/stretchly/issues/106

[2017-07-14 06:42] 12people opened #107 "Flattr counter is broken"
This relates to the website rather than to the app.
The counter for Flattr, and perhaps some other services, is broken, stuck at 0: https://hovancik.net/stretchly/ .

[2017-07-14 06:50] hovancik commented on #107
Hi, maybe it takes some processing on the flattr side? When I login to flattr I do not see any flattrs as well.

Many thanks if you contributed!

[2017-07-14 06:55] 12people commented on #107
I guess the counter increases at the end of the month, when payments are made out. ¯\_(ツ)_/¯
We'll see.

[2017-07-23 19:21] jony0008 opened #108 "Translations"
Would be great to have stretchly in different languages. I can recommend Crowdin or Weblate for managing the translations.

[2017-07-29 09:27] #106 closed

[2017-07-29 09:28] hovancik commented on #108
Hi, this is on my todo list, I'll add your recommendations

[2017-07-29 09:30] #108 closed

[2017-07-30 16:32] oldsaloon opened #111 "Move window"
It would be great if you could move the reminder window. Now it's fixed in the middle of the screen. You want to pause a video or close other things to take a break, but you can't because it's on top (especially if on a single monitor). So you just hit skip.

[2017-08-01 10:41] hovancik commented on #111
Good point, I'll look into it.

[2017-08-01 15:25] gromchen opened #114 "Versions 0.8.1 is better than 0.9.0"
I use 0.8.1 because 0.9.0 has a couple of issues. First, it does not show itself when I'm in another fullscreen app. Second, it has dock icon which is always present. Will it be fixed in next versions?

[2017-08-01 17:10] hovancik commented on #114
what app for fullscreen?
dock icon will be configurable in next version

[2017-08-01 17:27] gromchen commented on #114
Any app on a mac if it's in fullscreen. Stretchly does not show the window with the break, I just hear sound from time to time.

[2017-08-01 18:33] hovancik commented on #114
Not happening on master branch so I guess that was some issue with electron version used on 0.9.0. I will close this once I release new version.

[2017-08-01 18:34] gromchen commented on #114
Thank you.

[2017-08-03 15:27] hovancik commented on #107
My balance was increases ;]
I guess counter is broken on flattr side.

[2017-08-03 15:27] #107 closed

[2017-08-03 16:10] ErroneousBosch opened #117 "Multiple monitor suggestion"
Running on Gnome 3.24

Very nice app, but I wondered if there would be a way to have the window appear on all screens, not just one? Would make it harder to miss if I have mouse focus on one screen but am looking at another.

[2017-08-03 19:53] llmiller opened #118 "Countdown/timer does not appear on the screens"
Hello - not sure if this is how I document an issue, but ... I have Stretchly installed on my Win 10 computer. I have configured it to come up for short breaks every 20 minutes and longer breaks every 90 minutes. On both of these screens, I don't see the timer. So I forget (if I'm very hard at work) if what I'm seeing is a 10-second break or a 5 minute break. I don't see how to configure the timer

[2017-08-04 05:50] hovancik commented on #118
Countdown timer should be always visible. What version are you using? Make sure you have the latest. Timer was not there in older versions.

[2017-08-04 08:23] hovancik commented on #117
I'll see into API how this could be done.

[2017-08-04 12:53] llmiller commented on #118
I just downloaded the software yesterday but I must've gotten it from a website that had an old version.
Thank you - I'm uninstalling and re-installing from your list here. :)

[2017-08-04 13:06] hovancik commented on #118
Awesome, let me know if it's OK, so we can close this issue.

[2017-08-09 15:16] sxmanton commented on #117
This is a feature I've been meaning to suggest as well.

[2017-08-12 09:37] Quitch opened #121 "Reset timer on resume from sleep"
Currently the first thing to happen when my PC resumes from sleep (S3) is that Stretchly tries to enforce a break. This also means the long break schedule is not correctly synced to when I was using my PC. I would suggest that Stretchly should simply reset its count to 0 when it detects a system resuming from sleep.

This is on Windows 10 x64 using version 0.9.0.

[2017-08-12 09:47] Quitch opened #122 "Alternate full screen behaviour"
Full screen apps should cause Stretchly to engage different behaviour, as having your screen disappear is not always desirable and can lead to videos continuing to play, or in the case of games, Stretchly failing to take over the screen correctly or getting you killed. Where a fullscreen app is detected I think Stretchly should offer the following options:

1. Issue a five second warning sound so

[2017-08-12 13:24] hovancik commented on #121
I've added it, but AFAIK it's very buggy with electron (since 2015), so not much to do here until they fix it.

[2017-08-12 13:27] #121 closed

[2017-08-12 13:29] hovancik commented on #122
Unfortunately, there is no way that I know of to detect behavior of others apps, so I can't find whether you are on fullscreen.

related #111

[2017-08-12 13:29] #122 closed

[2017-08-12 13:38] #118 closed

[2017-08-16 21:38] sxmanton commented on #121
One thought is that instead of using power monitoring to accomplish this, we could add some sort of check to the timers. Basically have scheduler wrap the function which gets called by the timeout with a check, so that if it is already a certain number of minutes past when the timeout was supposed to trigger (i.e. timeleft() < -X) then it resets itself, or emits some event which breaksPlanner can

[2017-08-19 10:31] probonopd opened #126 "[Linux] desktop file is lacking a Categories= entry"
The desktop file is lacking a `Categories=` entry in the `*.desktop` file.

According to the [menu spec](https://standards.freedesktop.org/menu-spec/latest/apa.html),

Hence, please add at least one of the following in the `Categories=` key.

Main Category | Description | Notes
-- | -- | --
AudioVideo | Application for presenting, creating, or processing multimedia (audio/video) |
Audio | An audio

[2017-08-19 10:43] hovancik commented on #126
Yes, I was building new version today and I had warning about it. Will fix.

[2017-08-19 10:55] probonopd commented on #126
Thanks. :+1: Once the new release is out, please ping me over at https://github.com/AppImage/AppImageHub/

[2017-08-19 15:14] #114 closed

[2017-08-19 15:14] #126 closed

[2017-08-19 15:17] probonopd commented on #126
Thank you

[2017-08-20 10:16] BitPuffin opened #127 "I don't notice the pauses when I'm in fullscreen (OSX)"
So if an application is running in fullscreen mode on OSX (such as a video, web browser, or emacs) when stretchly pauses trigger they do not show up over the application. It also doesn't steal the focus from the application so basically the notification goes entirely unnoticed. Since I'm probably in full screen most of the time, this makes it so that stretchly barely helps me at all.

[2017-08-20 10:18] BitPuffin opened #128 "Suggestion: Don't count the timers if there's no activity on the computer"
So in workrave, they don't count the timers if you aren't using the computer. If you're not typing or moving the mouse.

I think this is very useful behaviour because if you step away from the computer during a break and come back later than when the break ends, you don't get a shorter time before the next break.

[2017-08-20 13:22] hovancik commented on #127
I've tried with atom and firefox and works fine for me. What browser or video player do you use?
Also, are you on 0.10.0? I've released it yesterday.

[2017-08-21 00:19] BitPuffin commented on #127
I think it happens with both firefox and chrome, though I suspect it has been chrome most of the time. By fullscreen, I mean when you click the button that moves the window to its own fullscreen desktop sort of. Not just maximizing it so that it takes up the most space. Not just the way you get it by alt-clicking the green button.

I haven't yet tried 0.10.0, I installed it earlier though!

[2017-08-21 06:40] hovancik commented on #127
This was an issue in previous version. Should be fixed in 0.10.0.

[2017-08-21 08:11] hovancik commented on #128
There is pr #93 but it's outdated, as I had more important issues to fix. It's on my todo list now.

[2017-08-21 11:09] BitPuffin commented on #127
I still have the same problem in 0.10.0

[2017-08-21 11:10] BitPuffin commented on #127
I can also just move to a separate virtual desktop in general and the window stays behind.

[2017-08-21 17:14] hovancik commented on #127
It works fine for me. Maybe some another app interferes or something? How do you run those apps?

<img width="1680" alt="screen shot 2017-08-21 at 19 13 17" src="https://user-images.githubusercontent.com/4745859/29530604-db1a6982-86a4-11e7-8130-e1b428a3357e.png">

[2017-08-22 15:05] BitPuffin commented on #127
Just clicking the green button that makes OSX create like a separate virtual desktop to run the app in fullscreen. So you can switch between things with control+arrowkeys. When I run it like that the stretchly window doesn't show up. My current workaround has been to make stretchly window also go fullscreen which steals away focus from what I'm doing. But that's fairly annoying. But at least I don

[2017-08-22 15:11] Frost87 opened #129 "Suggestion: Pre defined breaks"
Firstly, great piece of software - it has a HUGE amount of potential. I really hope this gets continued development.

The ability to add a list of pre-defined times throughout the day to take a break. This on top of the existing static interval approach would be great.

For example:
- Always take a 10 minute break at 10:00am.
- Always take a 30 minute break at 12:00pm.
- Always take a 15 minute br

[2017-08-22 15:11] hovancik commented on #127
Ah, what is that green button? Not sure if we do the same thing. What I do is `cmd+shift+f` or the third button:

![screen shot 2017-08-22 at 17 09 24](https://user-images.githubusercontent.com/4745859/29572484-c3a97302-875c-11e7-89f1-c15ff4211f46.png)

 Do you have one app that way or more? I've tried only with one. I don't know about any permission needed.

[2017-08-22 19:38] BitPuffin commented on #127
Yea the third button. I guess it's not green in your colour scheme :)

I'll try cmd+shift+f later to confirm that it's the same.

I think it's usually more than one app in fullscreen. I may be that I have observed the same thing with only one app but not 100% sure.

[2017-08-23 00:32] BitPuffin commented on #127
Ok so `cmd+shift+f` is not the same as clicking the third button. I do suspect that you'd get the popup if you do the `cmd+shift+f` fullscreen but not if you click the third button.

[2017-08-25 05:33] hovancik commented on #127
Let's have some testing scenarios:

- open chrome and go fullscreen with button, swipe to normal screen, open firefox and go fullscreen - breaks shows up
- open chrome and go fullscreen with button, swipe to normal screen, open firefox and go fullscreen, swipe to chrome - break shows

[2017-08-25 10:33] Mil0dV commented on #72
For me this could be very much improved by announcing the break shortly before the actual break. I get really annoyed when it interrupts me mid sentence, so I tend to skip most of the breaks. An OS notification announcing a break a few seconds before it starts allows me to finish the sentence(segment) or line of code and then take the break.

[2017-08-25 11:55] BitPuffin commented on #127
Hm weird now I can't even reproduce my own issue that reliably did not work. Can't tell what the bug is then. Maybe some weird edge case in OSX?

[2017-08-25 12:33] hovancik commented on #72
That's good idea. I'll add.

[2017-08-28 07:51] hovancik commented on #127
I guess so. Let's close it for now and reopen when we have something reproducible?

[2017-08-28 14:31] cloo opened #130 "Option to display no advices during breaks"
I often find the repeated texts annoying, and would prefer to stay with a clean black box, containing only a countdown.

Also, some texts (like the one about bathrooms in the office), sometimes appear in weird and useless situations: when I'm working in a cafe or home, or when I'm having a coleague by my side.

Alternatively, I'd suggest a settings page, where you could select which messages you f

[2017-08-28 15:07] hovancik commented on #130
Thanks for the idea. It's easily done so it will be added soon (no break ideas window).

You can edit break ideas, but it's not "easy" right now
https://github.com/hovancik/stretchly#editing-breakmicrobreak-ideas

[2017-08-28 15:09] hovancik commented on #129
Thanks, this looks interesting but can't promise this will be added anytime soon, as it would take more time. But I like the idea and will definitely try to find time to do it.

[2017-08-29 07:04] #130 closed

[2017-08-29 08:20] BitPuffin commented on #127
Yep! Or at least re-open if it occurs again.

[2017-08-29 08:20] #127 closed

[2017-08-29 13:32] hovancik commented on #59
PR was updated with master, would need help with understanding how it works.

[2017-09-02 14:08] Acrossf opened #132 "Warn the user X seconds before the break starts"
So the user can take time to save/finish stuff etc before a sudden break.

[2017-09-05 19:18] cloo commented on #130
Brilliant, thanks!
Editing config files is probably easy, at least for github crowd, but finding this config file somehow isn't self explanatory, at least on windows :)
So I thought of another suggestion: a link to config file would be really convenient, and then stretchly would gain a nice sense of hackable!

[2017-09-05 19:59] hovancik commented on #130
Thanks :) You can see path to the config in About window with `Ctrl/Cmd+d`

[2017-09-06 14:29] #132 closed

[2017-09-08 10:27] lvloha opened #136 "Translate"
When do you plan to translate the application? at least you can start with the language of the massages that come out in the breaks.
Or at least put them in an easy file to open and translate.

Very good application, thank you.

[2017-09-08 13:55] hovancik commented on #111
Hi, so right now it's not possible because I am using `focusable: false`to make stretchly work correctly.

But I have added notifications that shows 30 seconds before break starts. I'll probably make release over weekend.

![stretchly-notification](https://user-images.githubusercontent.com/4745859/30214806-fbce5f0a-94ad-11e7-93b4-dd8d2fb1ebb7.png)

[2017-09-08 13:55] #111 closed

[2017-09-08 13:59] hovancik commented on #85
stretchly now suspend breaks when going to sleep (at least on macos) so I am closing this

https://github.com/hovancik/stretchly/pull/123

[2017-09-08 13:59] #85 closed

[2017-09-08 14:00] hovancik commented on #100
Could not reproduced, so closing.

[2017-09-08 14:00] #100 closed

[2017-09-11 07:15] hovancik commented on #136
Hi and thanks!
You can edit break ideas manually https://github.com/hovancik/stretchly#editing-breakmicrobreak-ideas

Translations are in my TODO but no idea when I will do it.

[2017-09-11 07:15] #136 closed

[2017-09-19 13:18] Mil0dV commented on #72
@hovancik thanks for the quick fix! However, 30s just feels off for me - way too long. Could you make it configurable or perhaps set it to a default of say 5-10s? (or tell me how to hack this)

[2017-09-19 13:20] hovancik commented on #72
@Mil0dV yeah you can hack it by editing config file https://github.com/hovancik/stretchly#advanced-settings

[2017-09-20 16:45] SjoerdOptLand opened #137 "Suggestion: only give notifications for rest breaks"
I like the notifications for rest breaks, because I can finish my sentence before the fullscreen break appears. This way, I have no excuse for 'quickly' finishing up (which, of course, always finally causes me to ignore the break).

Microbreaks are so short, on the other hand, that I can keep the rest of my sentence in mind, and continue after stretching my legs. The -30 seconds notifications actu

[2017-09-21 09:57] hovancik commented on #137
Thanks, that could be done, I'll think about it.

[2017-09-21 14:11] cipri-tom commented on #128
But it should still count the time you've been away and "push back" the break. So, if you take a natural break 2 minutes before the long break, when you come back you are not prompted to take a break after 2 minutes.

However, tracking mouse and keyboard might require special permissions on some platforms (Mac).

[2017-09-21 14:15] cipri-tom commented on #101
Ahh, that would be awesome ! What is the progress on this ?

[2017-09-21 14:25] cipri-tom commented on #72
I understand your concern with postponing.
I just want to mention how WorkRave has done it (long time ago) and it works quite nicely.

You can postpone the break (with the setting that you configured, e.g. 5 minutes) and after a max number of postponings (say 3, configured), you canot postpone, only skip (so it will leave you alone until the next break).
Here's the catch: it tracks how many times

[2017-09-22 08:33] hovancik commented on #101
I haven't tested it yet, as not a lot of api is implemented yet.

[2017-09-28 01:18] tom-a-horrocks opened #138 "Ugly error when starting stretchly if it's already running"
Better behaviour would be to do nothing, or show an 'already running' dialog,

![image](https://user-images.githubusercontent.com/6022830/30944966-07f4b8da-a42e-11e7-824a-9001061a06d1.png)

[2017-09-28 11:14] cloo opened #139 ""Pause indefinitely" switches back on"
Stretchly starts suggesting breaks automatically after each computer wake up, even when "pause indefinitely" was used and "start at login" disabled.

[2017-09-28 12:58] hovancik commented on #139
Thanks for reporting, I see where the problem is and will try to fix ASAP.

[2017-09-28 13:03] hovancik commented on #138
You are on Windows, right? Can't reproduce on Mac/Linux.

[2017-09-29 00:55] tom-a-horrocks commented on #138
Yeah that's correct. I've gotten the same error on a Windows 10 and Windows 7 machines.

[2017-09-29 06:57] hovancik commented on #138
Related:  https://github.com/electron/electron/issues/9392

[2017-09-29 10:50] hovancik commented on #139
So I was thinking about this:
- right now when stretchly sees that machine goes to sleep, it does "Pause indefinitely" by itself
- when machine wakes up, it resumes breaks

So the question is: should it stayed in "Pause indefinitely" mode when user used "Pause indefinitely" before going to sleep?

Not sure, what do you folks think? I'm moving towards: It should resume breaks.

[2017-09-30 11:19] #138 closed

[2017-09-30 13:09] hovancik commented on #72
I don't plan to implement postponing so closing this.

[2017-09-30 13:09] #72 closed

[2017-09-30 13:10] hovancik commented on #59
New PR her: https://github.com/hovancik/stretchly/pull/140

[2017-09-30 13:11] hovancik commented on #128
New PR here: https://github.com/hovancik/stretchly/pull/140

[2017-09-30 17:42] hovancik commented on #139
Ok, so i changed my mind. Indefinite pause will be kept after resume, others will not be kept.

[2017-09-30 17:51] #139 closed

[2017-10-06 13:46] decadent commented on #101
Might be detrimental for the development of Stretchly while it's still adding features and trying different workflows: if Electrino doesn't have much in the way of APIs, documentation and possibly libs, then people may have trouble customizing it to their needs.

[2017-10-06 20:37] decadent commented on #44
In OSX that's better done with indication in the dock icon. AntiRSI does this perfectly with the two circular progress bars:

![AnsiRSI icon screenshot](https://i.imgur.com/0UO8Xn8.png).

<br/>

Top bar icons are a prime space on Mac, hence the existence of Bartender.

[2017-10-06 23:24] decadent opened #144 "Instead of the notification, show a floating warning right before the break starts, skipping the break if the user doesn't stop the activity. (An alternative to fading in the break window)"
This is a shameless rip-off from a feature in Workrave. Other popular apps behave similarly by fading in the break window gradually, but Workrave's solution is better from the usability standpoint.

When a break is due, the app shows a floating window away from the mouse pointer, ticking down a timer of about 30 seconds to the proper start of the break. This allows the user to finish whatever micr

[2017-10-11 07:43] hovancik commented on #144
Well, we could do that as alternative to the notification, but personally, I like the notification more. It's because stretchly works better for me when it's more aggressive.

Right now I am working on natural breaks, see #140 .

What we can do is let the user decide what he wants before break:
- show notification 30 seconds before
- check for inactivity as you said and skip if not inactive
- noth

[2017-10-13 05:53] raptor59 opened #145 "not possible?"
Hello, so if i want to have a 5 min microbreak every 25 minutes and then 15 min restbreak every hour - i cannot configure it with Stretchly? Seems pretty limiting!

[2017-10-13 13:18] hovancik commented on #145
so if I understand you want this: ?
-> time is 0
-> after 25 minutes -> 5 minutes break -> (time is 30 minutes)
-> after 25 minutes -> 5 minutes break  -> (time is one hour) -> start 15 minutes break

So basically you would have 5 minute break after first 25 minutes and then 20 minutes break after another 25 minutes?

[2017-10-16 02:58] decadent commented on #59
(Posting this here so it's preserved outside of the PR.)

So far with #140 on OSX it seems that the detection pretty much doesn't work at all. I have a time tracker installed, and Stretchly begins a new break at random time marks after a natural break. Also sometimes I wake the machine from the screensaver to be greeted with an open microbreak window.

From the experience with other break reminder

[2017-10-16 06:45] hovancik commented on #59
@decadent thanks for feedback and links, I will check them out.

natural break should work like this: if you are idle longer than 20 seconds, it starts natural break. if there is a break/microbreak during this time, it will go on normally as planned. If you are on natural break longer than your break duration (5 mins by default), stretchly will clear the break planner and no more breaks will be st

[2017-10-16 08:14] hovancik commented on #59
@decadent also:  I am force-pushing to that branch so please make sure you have the latest version. The way I do it is to first `git fetch origin` and then `git reset --hard orgin/feature/natural-breaks-manager`

[2017-10-16 14:24] decadent commented on #59
Ah heck, I somehow missed that completely. Disregard my previous comment then.

(Though, this feature is ubiquitous in time trackers and break reminders and IMO obviously useful, so I'd suggest turning it on by default.)

[2017-10-16 14:33] hovancik commented on #59
That's good idea. What do you think about adding notification when natural break is finished saying sth like `Natural break finished.` or `Natural break finished. You've been idle 5 minutes.`

[2017-10-16 14:42] decadent commented on #59
Absolutely unnecessary. The app should 'just work' following the user's natural behavior, without getting the interface in the way other than the break window as the main feature. Resetting the breaks after an off-time is pretty much expected behavior, since the whole purpose of the app is to track the user's work time.

[2017-10-17 02:46] midpoint opened #146 "Other languages"
Can it support other languages?

[2017-10-20 21:46] laem commented on #146
Check this PR #143

[2017-10-23 17:50] hovancik commented on #59
merged.

[2017-10-23 17:50] #59 closed

[2017-10-23 17:50] hovancik commented on #128
merged.

[2017-10-23 17:50] #128 closed

[2017-10-26 06:29] mohamed-osama-aboelkheir opened #148 "Feature request | show time remaining for next break in menubar"
It would be cool, if the time remaining for the next break can be shown in the menu bar.

[2017-10-26 06:43] hovancik commented on #148
Hi, time remaining for next break is show as tray tooltip. What platform are you on?

![stretchly-tray-3](https://user-images.githubusercontent.com/4745859/32038306-816e15c4-ba29-11e7-9fd0-d6c7492ad747.png)

It's working on Windows and Linux, but on mac there is an [electron bug](https://github.com/electron/electron/issues/9447), so there's nothing I can do about it.

[2017-10-26 06:52] mohamed-osama-aboelkheir commented on #148
Thanks Jan for the quick response.

I am on Mac. What i meant is that it would be cool If you can see the time
remaining without having to move the mouse to the icon. something like the
below screenshot from the "Be focused" pomodoro app.

​
Best Regards,
Mohamed AboElKheir

On 26 October 2017 at 08:43, Jan Hovancik <notifications@github.com> wrote:

[2017-10-26 07:38] hovancik commented on #148
could you please attach the screenshot from github interface? it's now shown when replying via email.

[2017-10-26 16:54] hovancik commented on #137
on master now

[2017-10-26 16:54] #137 closed

[2017-10-27 07:01] mohamed-osama-aboelkheir commented on #148
Screenshot attached ![screen shot 2017-10-26 at 8 51 05 am](https://user-images.githubusercontent.com/7032838/32091648-5df903c0-baf5-11e7-8510-61e502c2a5e1.png)

[2017-11-10 09:44] Oreolek opened #151 "An option to disable update check"
*Yes, I know there was a new release 2 days ago, I don't need to be reminded every system start about it*

[2017-11-10 09:49] hovancik commented on #151
Thanks for the feedback!

How do you imagine that would work?

[2017-11-15 19:20] jt007 opened #152 "Idle time"
Great software! Here is an idea for some improvements.
I have noticed that your new version 12.0 reset the microbreak timer if I have a natural break from the computer of 5+ minutes. That's a great feature, but I have a suggestion for some improvements.
If I am out of office for less than 5 minutes, the microbreak may in this version start just a few seconds after I start using my computer. That’s

[2017-11-15 20:07] jt007 opened #153 "Time between microbreaks"
Suggestion for improvements: Would have been nice to be able to choose the length between microbreaks in the settings. Instead of the standard 10 minutes microbreaks, it would be practical to choose between 10, 15 or 20 minutes.

Ps: I have chosen "silence" in the settings, and still there is a notification sound in addition to the visual notification. (version 0.12.0, windows 10.)

[2017-11-16 18:15] sxmanton commented on #153
You already can adjust length between microbreaks, in 5 minute intervals, just use the buttons on either side of the length of time.

![settings_screenshot](https://user-images.githubusercontent.com/4335536/32907977-16b26eda-cad0-11e7-92cb-3f4d29fd0287.PNG)

I'm also on Windows 10, I'll look into whether I can reproduce the error with the silence mode not working.

[2017-11-16 18:18] sxmanton commented on #153
Silence mode is working fine for me... I'm guessing that the notification sound you're talking about is not the stretchly sound, but the windows system notification sound.

https://www.isunshare.com/windows-10/turn-off-notification-sounds-on-windows-10.html

[2017-11-17 11:54] jt007 commented on #153
Thank you,  that worked:)

[2017-11-17 14:14] hovancik commented on #153
thanks for helping @sxmanton !
@jt007 so this issue can be closed?

[2017-11-17 14:27] hovancik commented on #152
Let's hear what other people think. I am open to the idea changing from 5 to 2 minutes... Not really sure if 2 or 5 is better... Or maybe have 5 min default and let user configure it.

[2017-11-17 19:29] jt007 commented on #152
Thanks for your reply:)
I use the option “don’t let me skip microbreaks”, (I need it:)), so therefore it’s a bit frustrating to be forced to take another break just the moment I return to office after a break of up to 5 minutes.
When I just return from the bathroom etc, I don’t need a 20 seconds break :)
Your proposal of letting users configure it would solve the problem:)

[2017-11-17 19:33] jt007 commented on #153
Yes, that solved the problem:)

[2017-11-18 14:46] hovancik commented on #153
Ok, closing then ;]

[2017-11-18 14:46] #153 closed

[2017-11-18 19:54] xim commented on #152
I'm for more configurability of idle time perception. A couple of descriptive configuration fields (e.g. pause timers after [2] minutes inactivity, reset microbreak timer after [5] minutes inactivity, reset normal break timer after [15] minutes inactivity) also automatically tells the user exactly how the "monitor system idle time for natural breaks" works.

[2017-11-18 20:04] xim commented on #148
As onhover tooltips isn't a part of normal OS X user interactions, I'd recommend adding another way of bringing the same text up. The same for at least some Linux window managers.

On my system, Cisco Proximity, Airplay and Wi-Fi all use a disabled option as the first menu item. Screenshot of those:
![screen shot 2017-11-18 at 20 57 27](https://user-images.githubusercontent.com/169057/32984246-515

[2017-11-18 20:18] xim opened #154 "Close windows using keyboard shortcut ({Cmd,Ctrl}+W)"
On OS X, Cmd+W is expected to close a window, this doesn't happen in any of the stretchly windows.

[2017-11-20 16:22] sxmanton commented on #154
Stretchly uses Ctrl/Cmd + X to cancel the break window, assuming you have the options set to allow skipping breaks

[2017-11-20 20:56] hovancik commented on #148
I'll check how would it work. Thanks for the idea!

[2017-11-21 09:18] xim commented on #154
Ah, okay, it works on one window then. Would be nice if it worked on the settings / about dialogs as well.

[2017-11-21 09:19] hovancik commented on #154
Ah, so `Cmd+W` is macOS specific shortcut? I'll check how electron deals with it.

[2017-11-21 16:35] sxmanton commented on #154
I didn't fully understand the original issue, turns out Ctrl+W does not work to close the settings window in Windows either, so this isn't just a macOS issue.

[2017-11-26 04:26] Oreolek commented on #151
maybe "Turn the notifications off for 1 month" or "forever" checkbox?
Ideally, there's a repository so the user doesn't have to care about updates.

[2017-11-27 20:16] xim commented on #154
Just to specify, I only mentioned `Cmd+W` because I had only tested on OS X. Also, `Cmd+W` on OS X is an even more established shortcut on OS X than `Ctrl+W` is on Windows. But yes, `Cmd+W` should work on OS X and `Ctrl+W` should work on Windows / Linux.

[2017-11-27 20:34] hovancik commented on #154
I believe `Cmd+W`in mac is the same as `Alt+F4` in windows. Linux would have something else, eg my XFCE has `Ctrl+W` to close tab and `Ctrl + Q` to close app

[2017-11-27 20:35] hovancik commented on #154
Related: https://github.com/electron/electron/issues/5536

[2017-11-29 16:45] sxmanton commented on #154
Alt+F4 is possibly more universal in Windows, but Ctrl+W works for most programs in windows, except in cases like where chrome overrides the shortcut to be close tab instead of close window.

[2017-11-30 18:26] mathom01 commented on #117
I've been wanting this too -- Stretchly can't really enforce breaks if it only blocks one window.

[2017-12-03 18:46] jt007 opened #155 "Stretchly app crashed. Unable to reinstall"
I guess the app crashed because I chose to disable both the break features. I needed to do this temporarily. Then the app crashed, and I had to uninstall the whole app from the Windows 10 settings. When I try to reinstall it, I get this feedback. Please see enclosed printscreen file.

[Stretchly printscreen.docx](https://github.com/hovancik/stretchly/files/1525032/Stretchly.printscreen.docx)

(win

[2017-12-03 18:58] jt007 commented on #155
Just in case you can't open the filetype, this is the text in the error message:

[Window Title]
Error
[Main Instruction]
A JavaScript error occurred in the main process
[Content]
Uncaught Exception:
TypeError: Cannot read property 'plan' of null
    at BreaksPlanner.nextBreak (C:\Users\jontore\AppData\Local\Programs\stretchly\resources\app.asar\breaksPlanner.js:78:19)
    at App.loadSettings (C:\

[2017-12-04 08:32] hovancik commented on #155
Hi, you can disable breaks for infinite time from tray menu, no need to disable both type of breaks.

The quick fix for you would be to find `config.json` and make
[code]

Don't have any win 10, but should be in `%APPDATA%` (https://github.com/electron/electron/blob/master/docs/api/app.md#appgetpathname)

[2017-12-05 22:44] sxmanton commented on #155
While the disable breaks is definitely the right way to accomplish the intended behavior, it would probably still be a good idea to add some null checks to safeguard against it crashing, possibly pulling in default values or something.

[2017-12-06 02:09] sxmanton opened #156 "Make a stretchly package for chocolatey"
[Chocolatey](https://chocolatey.org/) is a package manager for windows kind of like apt on linux. It would be great if there was a package on it for Stretchly so that I don't have to manually download the installers for new ones. I'd be happy to help create the package and write some scripts to automate the process of publishing new chocolatey packages alongside new versions of Stretchly.

[2017-12-06 02:14] sxmanton opened #157 "Settings Profiles"
It would be nice if I could set up a few different saved profiles, i.e. one for working, one for gaming, rather than having to set/reset my settings every time I want to switch contexts.

[2017-12-06 07:42] hovancik commented on #155
Yeah, I'm planning to fix this, but I'm still working on translations right now.

I guess the fix will be not allowing to disable both types of breaks.

[2017-12-06 08:36] hovancik commented on #156
Hi, I'm all in if it's easy to maintain. Saying that, I haven't had time to go through docs. So if you did, that would be nice to hear more ;]

Anyway, here is how I do it now:
I have virtual machines with Windows, and Debian where I build for linux and win. And on my macbook I build for mac. Then I upload them manually to github.

[2017-12-07 18:34] sxmanton commented on #156
Cool, I will take a more detailed look at how to set it up sometime in the next couple weeks.

[2017-12-09 05:42] jt007 commented on #155
Thanks, problem solved :)

[2017-12-12 10:12] #146 closed

[2017-12-14 02:54] tslin306 commented on #117
Just started using stretchly and I think multi-display support is really necessary.

P.s. I've used many eye rest reminder app and this is the best. Thank you all for the great work.

[2017-12-14 02:59] tslin306 commented on #157
Nice to have different profiles. But currently you can pause for 1hr, 2hr, 5hr, or indefinitely while playing games.

[2017-12-15 08:06] hovancik commented on #117
Thanks! I need to make some bug fixes and then I hopefully can try to make this feature.

[2017-12-18 11:46] CrCs2O4 opened #160 "Feature request | Show wallpaper/custom image on break"
Hey! First of all, thanks for great project.

It'll be awesome if app can switch between tips to show Fullscreen image for break. Custom or random from [Unsplash](https://unsplash.com/search/photos/background) for example.

Thanks!

[2017-12-19 04:45] radu-gheorghe opened #161 "Snooze button"
First of all, thanks a lot for doing Stretchly, the health industry should be grateful :)

Snooze is the feature I miss most from Workrave: 30s is usually too short of a notice for me to wrap up before taking a break (or maybe that can be made configurable?). Then when the break comes, I need to skip it and when I do, I forget about it.

If I could postpone the break for 5 minutes or so (configura

[2017-12-19 16:48] hovancik commented on #161
Hi, you can configure the reminder time by editing the config file:
https://github.com/hovancik/stretchly#editing-breakmicrobreak-notification-interval

The reason why it's not configurable is to make stretchly easy to understand. Settings are kept as small as possible (and are opinionated ) with option to edit them by hand in config file.

About postponing: for me, I prefer not to have postponing

[2017-12-19 16:49] hovancik commented on #160
Hi, I like the idea ;]
I'll keep the issue opened, but it might take some time to implement it as there are many features on my todo.

[2017-12-20 07:09] radu-gheorghe commented on #161
Thanks! I didn't know of the configuration file. I've edited that out to two minutes, hopefully that gives me time to wrap up and actually take a break :) For now, stretchly only really serves as a reminder to take breaks every now and then, I don't truly respect them. I think that if I had a postpone button, even if I'd use it repeatedly, it would be better than to skip breaks entirely (which is

[2017-12-21 19:47] hovancik commented on #161
That makes sense. I can image having possibility to postpone break once.

[2017-12-22 06:22] Diazbesjorge opened #163 "Feature request | Custom message"
Hi Hovancik, congratulations for the app. After trying many others I'm sticking to this one because of it's simplicity and beauty.

One thing that doesn't work for me are predefined ideas, so I was wondering about the possibility of adding a custom message. I would appreciate being able to write something like "Take a break" or "Be here now" in a settings field.

Regards,
Jorge

[2017-12-22 07:42] hovancik commented on #163
Hi,
there is no "easy" way in application interface, but you can do it by editing config file as it is mentioned in readme here: https://github.com/hovancik/stretchly#editing-breakmicrobreak-ideas

I hope this helps ;]

I plan to add break ideas editor in future, but it will take time as there are many many features that needs to be done.

[2017-12-22 07:42] #163 closed

[2017-12-22 08:07] Diazbesjorge commented on #163
Hi, I tried editing the config file as mentioned in the readme, but no matter how I do it the program keeps reloading the original ones. Is there something I am missing?

[2017-12-22 12:03] bramborman opened #164 "Release stretchly in Microsoft Store"
It would be great if _stretchly_ was released in Microsoft Store (fka Windows Store). It would enable _stretchly_ to be run on Windows 10 S where only apps from Microsoft Store are allowed to run and it would also be easier to be always updated as Microsoft Store updates apps automatically.

I found [this][1] guide that may help you.

[1]: https://electronjs.org/docs/tutorial/windows-store-guide

[2017-12-22 14:33] Diazbesjorge commented on #163
Thanks, I was missing `useIdeasFromSettings": true` it works now.

[2017-12-22 17:22] hovancik commented on #163
Awesome, glad it works. I'll enhance README.md.

[2017-12-22 17:26] hovancik commented on #164
Thanks, I'll check it out.

[2017-12-22 17:51] hovancik commented on #151
I've decided to allow this via editing config file. I'm trying to make as less config options in "Settings" as possible and also from my point of view it makes sense to "force" users to update to the latest version.

Upon editing config file, there will be no more notification about new version, only the option in tray menu.

[2017-12-22 17:52] #151 closed

[2017-12-27 14:32] bramborman opened #167 "Text is selectable"
I just noticed that the text in settings and even on the (micro)break page is selectable. I doesn't break anything, it just looks kinda odd.

![screenshot](https://user-images.githubusercontent.com/20975774/34384152-90bc942a-eb1a-11e7-9ae7-d750a1e39995.png)

[2017-12-27 20:08] hovancik commented on #167
Thanks for reporting, what platform are you on?

[2017-12-27 20:09] bramborman commented on #167
Windows 10, 16299 (Fall Creators Update)

[2017-12-28 10:48] bramborman opened #168 "Notifications are not working in Windows 10 Fall Creators Update"
While working on a czech translation I noticed that the app should show notification before (micro)break but on Windows (at least Windows 10, Fall Creators Update) it's not working. I never got any notification before any break. I have them enabled in settings.

[2017-12-28 14:42] #167 closed

[2017-12-29 04:00] tslin306 commented on #117
@hovancik Great! Can't wait to see this feature in the future. You might want to check [this](https://github.com/electron/electron/blob/v0.36.10/docs/api/screen.md) out.

[2018-01-02 08:50] hovancik commented on #168
Not that familiar with windows anymore. I have them on my WIn 10 inside virtualbox. Do you get notifications from other apps? Maybe there is some config that needs to be turned on?

[2018-01-02 11:58] bramborman commented on #168
It should work, all apps have them enabled from system by default AFAIK. What version of W10 do you have? They're releasing new version of W10 about twice a year now so in older versions notifications may be working while in newer they're broken.
I may take a look at that when I have time...

[2018-01-02 13:17] bramborman commented on #168
So according to this issue (https://github.com/electron/electron/issues/10864) electron notifications don't work in Fall Creators Update.
There's a fix/workaround however: https://github.com/electron/electron/issues/10864#issuecomment-346229090

[2018-01-02 16:18] anton-unity opened #171 "Broken break view on macOS (missing all text)"
Without obvious reason randomly getting broken fullscreen view (see screenshot). Can't escape it and seems only way is to kill application. It happens every second run, or once in couple of hours.

![screen shot 2018-01-02 at 18 04 49](https://user-images.githubusercontent.com/15607374/34490180-b49aeb68-efe7-11e7-8d00-b46a25fcf1d2.png)

stretchly v0.13.0 (eng locale)
macOS 10.12.6

Just started to

[2018-01-02 16:31] hovancik commented on #171
Have you changed any settings?

[2018-01-02 19:16] sxmanton commented on #156
So I've been having a bit of a look at this. Trying to figure out if there's a way to automatically run this as part of the npm dist, but only on windows. Haven't really been able to figure out a way to have platform specific sets of scripts for that, are you aware of any?

If that's not possible, would you be okay with manually running an additional script when you do the windows build?

[2018-01-02 20:49] anton-unity commented on #171
Yep, I tuned a bit timers and changed _break view_ to fullscreen. I just nuked config and reinstall from brew. So far it's running stable in window mode, in default settings.

[2018-01-03 00:10] midpoint opened #172 "Please add chinese language in locales"
[chinese language files.zip](https://github.com/hovancik/stretchly/files/1599081/chinese.language.files.zip)

In addition, can you add break Ideas to locales file？

[2018-01-03 07:29] hovancik commented on #156
No, I don't know of anything, but I am fine with running another script. I'm going from platform to platform anyway now..

Do you know about any electron-based app that is doing it? That would be easiest, I guess.

[2018-01-03 07:55] hovancik commented on #171
If you remember what you changed, that would be awesome. Of if you could send me config file. I'll try running in fullscreen.

[2018-01-03 08:04] hovancik commented on #172
Thanks, should I use "‪繁體中文‬" for language selection or something else?

Break ideas will be also translatable in future, but I haven't implemented it yet.

[2018-01-03 08:31] hovancik commented on #171
So it's because of the fullscreen.

[2018-01-03 09:17] anton-unity commented on #171
Yep. Seems to work few hours in window mode.
Then changed to fullscreen and it worked couple of times, then became broken.

[config.json.zip](https://github.com/hovancik/stretchly/files/1599862/config.json.zip)

[2018-01-03 11:41] #171 closed

[2018-01-03 11:58] midpoint commented on #172
Certainly.

[2018-01-03 12:30] hovancik commented on #172
Thanks, I've also added you to the list of the contributors as `midpoint, @midpoint` (https://github.com/hovancik/stretchly/tree/feature/cn#contributors). Is that fine or you would like to change it?

[2018-01-03 14:10] midpoint commented on #172
It is ok. Thanks.

[2018-01-03 14:36] antnsi opened #176 "Please block "ctrl/cmd + tab" in break view"
A bit odd feature request, but still. I'm using combination of options:
- don't let me skip breaks (mini breaks)
- breaks are fullscreen

So I have fullscreen break without skip button, but I still can just do cmd+tab (on macosx) and therefore switch tabs. Stretchly break view left working in background.

Not sure that's important, but I keep doing that automatically... 😆

[2018-01-03 15:10] bduff9 opened #177 "Custom Breaks"
Hey there!  Love the app, its the best one I've used to date and I can definitely see it benefiting me after only using for a week so far.

One minor recommendation is similar to #161 for a snooze button.  For me, I kind of agree with you about never taking breaks if it can be snoozed, however one thing I have noticed is that when the micro break happens, I always rest.  However, I end up skipping

[2018-01-04 01:40] gotson opened #178 "natural breaks not counted properly"
Hello,

just installed Stretchly v0.13.0 on Windows 7, and i have an issue with natural breaks not taken into account.
I use it on my work PC, and before leaving at night my windows session is locked.
When i come in the morning, i get a microbreak in the first minute after being logged back in. It should count 10 minutes from my login time before triggering this microbreak though.

[2018-01-04 08:07] hovancik commented on #178
Hi, I think there is another API in play:
electron's API for power monitoring  https://github.com/electron/electron/blob/master/docs/api/power-monitor.md

My guess is that either it does not support windows 7, or what you are describing is not suspend/resume.

[2018-01-04 09:41] hovancik commented on #176
I see. I looked into that and seems that it might be possible with electron's "Kiosk" mode. The "Fullscreen" I am using now works as you described.

I've tried "Kiosk" on my machine and it doesn't seems to work as I thought. I'll try and ask electron developers.

[2018-01-04 13:10] gotson commented on #178
Looks like the API is not working properly for other platform too:
https://github.com/electron/electron/issues/8560#issuecomment-353657966
https://github.com/electron/electron/issues/1615

[2018-01-04 17:49] sxmanton commented on #156
I know Atom has a package on chocolatey, but at least before, they were doing it in some weird way where it wasn't really versioning the package correctly.

If you're fine running an additional script, then that's easy enough. I'll work on writing a script soon, really the script just has to create a nuget package which contains the installer .exe and a chocolateyInstall powershell script which wi

[2018-01-05 08:29] hovancik commented on #177
Hi,  what platform are you on? And do you have idle time detection on?

Idle time should take care of that: when your machine is idle for more then 5 minutes, it stops breaks until you come back and then reset timers.

[2018-01-05 08:31] hovancik commented on #178
Thanks for the links, I'll take a look.

[2018-01-05 08:32] #172 closed

[2018-01-05 16:47] bduff9 commented on #177
Hey, thanks for your reply.  I am on Windows 10, and yes, I turned on idle time when I first installed stretchly.

Maybe it is not working for me then as I am constantly getting interrupted while working, even though I just took a break previously.  On the other hand, it is possible that whatever metric you are using for idle time won't work for me because, as a software engineer, I constantly hav

[2018-01-07 14:12] neooleg opened #181 "[Ready to help] Ukrainian and Russian translation"
Hi @hovancik and the team,

thanks a lot for creating a health-keeping software!

A bit of contribution from my side -- I'm ready to assist with UA and RU i18n if it's required. Just give me a file with English keys -- I'll come back with UA/RU.

[2018-01-08 19:38] hovancik commented on #181
Hi and thanks!
the translation files are located here: https://github.com/hovancik/stretchly/tree/master/app/locales

[2018-01-08 21:17] alexwennerberg opened #183 "Break reminder not centered in Windows 10 multiple monitors"
When using Windows 10 Pro, I encountered an issue where the break reminder window is not centered when using one of the two external monitors.

![image](https://user-images.githubusercontent.com/11624958/34692761-d8fa17d8-f486-11e7-9373-5b1aa9cd85be.png)

 The setup is, laptop below two external monitors, this is the rightmost of the two monitors. When the reminder pops up on the left monitor, the

[2018-01-09 12:06] hovancik commented on #183
Hi,
what version of stretchly do you have? I've made some changes in the latest one (0.14.0).

[2018-01-09 15:07] alexwennerberg commented on #183
This is 0.14.0

[2018-01-09 15:22] hovancik commented on #183
Was it the same in previous versions?

[2018-01-09 16:41] alexwennerberg commented on #183
Not sure. Haven't seen older versions on windows 10

[2018-01-10 10:17] hovancik commented on #183
Do your monitors have different DPI? I guess this is electron's issue: https://github.com/electron/electron/issues/10862

I don't have Windows machine to test older versions, could you try 0.13.0?

[2018-01-10 11:28] hovancik commented on #176
So Kiosk should do what you want, but in *stretchly* case it for some reason does not. I have no idea why. I've tried some stuff and example that works elsewhere doesn't work with stretchly. Really lost here.

[2018-01-10 12:39] anton-unity commented on #176
Thank you for investigation! And well, it's not that important, don't waste time.
I got used to window, instead of full screen 😄  (it hides half of screen and prevent normal work)

[2018-01-10 18:59] neooleg commented on #181
OK, I've planned to do it in near future.

Is there anybody to test the i18n? (especially layout consistency)

[2018-01-10 20:25] hovancik commented on #181
If you make translations, I can send you app version with translations

[2018-01-10 20:25] hovancik commented on #176
Ok, I'll keep the issue open for now, and we will see.

[2018-01-10 21:30] sergiopjf opened #184 "Brazilian Portuguese Translation"
I maked the brazilian portuguese translation.

Please, send me app version with brazilian portuguese for translation check.

[br.zip](https://github.com/hovancik/stretchly/files/1620518/br.zip)

[2018-01-11 08:16] hovancik commented on #184
Hi and thanks!
- what os do you use?
- can I use "português brasileiro" in language selector? or should I use different name?

[2018-01-11 16:10] alexwennerberg commented on #183
My coworker is the one having this issue (I'm on a Mac) but I'll talk to her and get back to you!

[2018-01-11 19:34] sergiopjf commented on #184
I use Windows 10

"português brasileiro" is perfect.

[2018-01-11 21:26] hovancik commented on #184
You can find the file here: https://ufile.io/i5f8t

[2018-01-13 01:28] sergiopjf commented on #184
I made some corrections. Now it's perfect.

[br.zip](https://github.com/hovancik/stretchly/files/1627937/br.zip)

In language selector use "Português Brasileiro" and not "Português brasileiro".

Thanks for all.

[2018-01-13 09:38] hovancik commented on #184
Thanks, do you want to send new version for another test or I can merge it?

[2018-01-13 10:48] fttx commented on #154
You have to add an app menu like this to enable CMD+W, CMD+H, etc. on macOS
![image](https://user-images.githubusercontent.com/5663423/34905371-72db6cb6-f857-11e7-8a86-07d350248c92.png)

[code]

[2018-01-13 18:18] kuramaluka opened #186 "Impossible to read texts with "breaks are fullscreen" on Elementary OS 4.1 (Loki)"
Hello,

I'm sorry if my bug is poor of details. I've just installed stretchly 0.14 in Elementary os 0.4.1, 64 bit.

As you can see opening the attached image, messages and images of the app are almost impossible to read. It seems that the image is unaligned ... with the window itself.

In settings "breaks are fullscreen" is checked (everything works well if it's unchecked).

Does it depends on my

[2018-01-13 18:21] hovancik commented on #178
I wonder, does tray tooltip works on Win 7? If yes, what does it says when you log back in?

[2018-01-13 18:33] hovancik commented on #186
Hi,
it looks like bug. I have just tried on debian and have the same problem with fullscreen. Thanks for reporting.

[2018-01-13 19:11] hovancik commented on #186
So this is electron's bug. Reported it here: https://github.com/electron/electron/issues/11632

[2018-01-13 19:20] hovancik commented on #177
It only checks for mouse and keyboard activity. Could you please check what does tray tooltip says after you come back after longer break?

[2018-01-13 19:50] kuramaluka commented on #186
Thanks for your super fast reply :) Let's see if someone can help with the electron's bug! :)

[2018-01-15 05:25] gotson commented on #178
Tooltip is working fine.
Just tried a couple of times today, and i get the following:
[code]

The timer seems to be correct, not sure what the second line is about though.
From what I understand i should expect 1 microbreak, then 1 break, then 2 microbreaks, whereas the coorect behavior should be 2 microbreaks, then 1 break, no ?

[2018-01-15 07:33] hovancik commented on #178
I would say that the tooltip is OK. The fact that there is 10 minutes means, that the timer resets itself.

The second line means that you will have 2 microbreaks, then break, which is also correct, depending on your settings. By default there are 2 microbreaks and then break.

[2018-01-15 18:53] sergiopjf commented on #184
It's no longer necessary. You can merge it.

Thanks.

[2018-01-16 01:39] gotson commented on #178
Indeed i tested this morning, it works fine.
I found the tooltip text misleading because of the wording, mentioning first what would happen last.

Not sure what happened earlier on when i opened the issue, but the behavior seems to be correct for now. I will close the issue and let you know in case it happens again :)

[2018-01-16 01:39] #178 closed

[2018-01-16 07:41] hovancik commented on #178
Ok, thanks ;] What wording would you use? I'm not native English speaker and I am not sure about the person who made the text as well. The text was made by another contributor.

[2018-01-16 07:47] #184 closed

[2018-01-16 09:44] gotson commented on #178
I'm not a native English speaker either :)

[2018-01-17 05:34] diegosom opened #189 "Stop disturbing"
Hi, your app is awesome!

Sometimes a popup appear in the middle of writing a text. I don't want to lose the concentration, so I stop typing, switch to the mouse, close popup, and continue typing from the middle of the  word. It's so annoying and happens several every day.

Would be great if app would wait for completing the current work and shows the popup right after that. For example, waiting f

[2018-01-17 07:54] hovancik commented on #189
Hi, do you know that you can use shortcut to skip break? Based on your platform, it's `Cmd/Ctrl+X`

[2018-01-18 04:50] diegosom commented on #189
@hovancik, you can disagree with me, but it also detracts from the working process.

[2018-01-18 14:59] hovancik commented on #189
I do not disagree. I had people asking for this feature before and I though that it would be solved with notifications before breaks and with possibility to easy cancel break.

[2018-01-20 15:53] #155 closed

[2018-01-20 15:54] hovancik commented on #168
sorry for delay but i didn't manage to upgrade my virtualbox machine so far. I have troubles with not enough space

[2018-01-23 20:01] hovancik commented on #168
So I've just tried solutions mentioned in the issue but they are not working for stretchly. We will have to wait for upstream fix.

[2018-02-02 11:39] hovancik opened #193 "Rails Girls Summer of Code 2018"
Hey folks, stretchly has been accepted as project for RGSoC. If you know about someone who might be interested in, feel free to let them know ;]

I wrote about it in my blog: https://hovancik.net/blog/2018/02/02/stretchly-accepted-to-participate-in-rgsoc-2018/

[2018-02-02 19:57] Anisha1234 commented on #193
@hovancik I would like to work on the project. I am experienced with NodeJS, D3JS, Express framework, HTML, CSS, Javascript, Bootstrap with MongoDB and MySQL. Though I am new to ElectronJS, yet I am confident enough to develop my skills in ElectronJS. Kindly guide me through the process

[2018-02-03 09:14] Rahmeen14 opened #194 "Typo in Contributing.md"
```Other thinks to keep in mind:```

Shouldn't it be ```things``` ?.
If it's approved, I would love to send a PR to fix it!
P.S. I am an aspiring RGSoC scholar with beginner's level proficiency in Node.js :)

[2018-02-03 09:21] Akshitaag commented on #193
Hello @hovancik ,
I am Akshita from New Delhi ,India. I wish to apply for rgsoc 2018 along with my team-mate @rahmeen14 .We both have worked in NodeJs ,Express ,MongoDB, HTML,CSS ,JS and MYSQL. We are willing to learn electronJS too. How can we begin contributing?

[2018-02-03 09:23] Rahmeen14 commented on #193
Hello @hovancik . Would love to contribute! :)

[2018-02-03 09:37] hovancik commented on #194
Feel free to make a PR and thanks! ;]

[2018-02-03 09:59] manaswinidas commented on #193
Hello @Anisha1234 I'll be more than happy to contribute!

[2018-02-03 10:13] Rahmeen14 commented on #194
@hovancik  I have made the PR https://github.com/hovancik/stretchly/pull/196
It's failing 2 checks in files i didn't even touch. Can you please help out?

[2018-02-03 13:18] hovancik commented on #193
Thanks everyone ;] I'm really happy that you are interested in helping stretchly out ;]

I guess you have already read this: https://railsgirlssummerofcode.org/students/application/  so for starters, you should install stretchly and start using it, so you are familiar with how it works. Then you should be able to say what features/issues you would like to work on.

[2018-02-03 13:20] hovancik commented on #194
Yeah, that are some older issues that I haven't addressed yet. Thanks for the fix ;]

[2018-02-03 13:20] #194 closed

[2018-02-03 13:27] hovancik commented on #194
I forgot to add you to Readme's Contributors part. What would you like to have there?

[2018-02-03 13:28] Rahmeen14 opened #197 "Error on npm start on 64-bit Windows 10 machine"
I followed the steps on the readme, i.e., cloned the repo, followed by ```npm install```. On ```npm start``` the following error occurs:
[code]
How can I resolve it?
I can provide the logs if that should be necessary.

[2018-02-03 13:33] Rahmeen14 commented on #194
I would not want my name there until I fix some real issues! :)
Thank you for the help and the merge, that happens to be my first successful PR!

[2018-02-03 13:44] hovancik commented on #194
I think you deserve to be there ;] Documentation is more important than people think.

And congratz for first PR!

[2018-02-03 15:41] hovancik commented on #197
Maybe you run that from ./app directory? You should run it from root directory.
eg.

[code]

[2018-02-03 16:33] Rahmeen14 commented on #194
Thank you so much!

[2018-02-03 17:34] Rahmeen14 commented on #197
![screenshot 66](https://user-images.githubusercontent.com/24973238/35769781-65305244-0936-11e8-92f0-67c9b5683b1e.png)

This is the error. If you could please help me out?
Thank you for your time ! :)

[2018-02-04 05:48] Anisha1234 commented on #197
@Rahmeen14 what is your node version?

[2018-02-04 07:51] Rahmeen14 commented on #197
@Anisha1234 thank you for the help!
I upgraded my nodejs to v8.9.4. Did try the step-wise solution this link has to offer, the same error persists.
Is there anything else you have in mind?

[2018-02-04 08:52] hovancik commented on #197
node version that I use is specified in `package.json `as
[code]

For WIndows, I remember I had to install some windows c libraries, but I don't remember what it was.

[2018-02-04 13:53] Akshitaag commented on #197
@Rahmeen14  This took a lot of time but it finally worked.

Follow these steps:
1. In windows power shell , type `Start-Process powershell -Verb runAs`.This runs power shell as an adminstrator.
2. In the administrator power shell , type -
`npm --add-python-to-path='true' --debug install --global windows-build-tools`
This might take a long time.
3.Now cd into stretchly and `npm install`.
4. After t

[2018-02-04 16:24] Rahmeen14 commented on #197
Yes it helped! Thankyou!

[2018-02-04 16:24] #197 closed

[2018-02-04 20:01] altosaar commented on #117
+1, multiple desktops in Mac would be great–switching away means hiding the break notification.

[2018-02-10 05:55] purva98 commented on #193
hello @hovancik sir,
I am purva. Me and my team mate are familiar with NodeJS, Javascript , React JS, Redux , Electron js , Html and css. We read about Strechly in your blog on hovancik.net.
We are very excited to contribute to Stretchly project. We will give our best :)

[2018-02-12 19:08] purva98 opened #200 "Ratings"
Can we implement a feature which rates a person's performance based on the number of breaks he/she has skipped ?

[2018-02-12 19:10] purva98 commented on #200
I and @riddhi99 were thinking to work on it , we wanted to ask if giving ratings is a good idea?

[2018-02-13 03:27] AndyDeNike opened #201 "Silence break start notification sound"
I often listen to high volume music with headphones and the initial break start notification sound hurts my ears sometimes; allowing user to silence this would be much appreciated.  Great application, keep up the great work!

[2018-02-13 06:15] purva98 commented on #201
Hey @AndyDeNike!
The problem is very geuine, and strechly provided a solution to it :)
In the audio scheme section, different sound profiles are offered, one is "silence"
![audio_scheme](https://user-images.githubusercontent.com/24644158/36135787-4189d5fc-10b3-11e8-8bf8-c408e921fc99.jpg)
I hope this helps!! cheers!

[2018-02-13 06:20] AndyDeNike commented on #201
wow, helps so much, just realized it was the default Macbook notification sound.  Thanks for clarity!

[2018-02-13 06:20] #201 closed

[2018-02-13 12:14] hovancik commented on #193
Hi everyone,
there is a https://gitter.im/stretchly/Lobby where I hang out when I'm online, if you have some fast questions ;]

[2018-02-13 17:21] hovancik commented on #145
Closing this as a possible non-issue. Let me know if you still need help.

[2018-02-13 17:21] #145 closed

[2018-02-13 17:23] #117 closed

[2018-02-13 17:38] hovancik commented on #200
Hi, this is on my TODO list, but it's more complicated feature and I am still thinking about how to do it. Right now, this is how I imagine it:

 - stretchly has events: break has started, break has finished, user has entered idle time, idle time ended, system went to sleep, wake up of the system, etc...
- every of this event is saved into local DB file (eg. `Event`)
- when we are saving event, an

[2018-02-13 19:12] dimi-23 opened #202 "Welcome Page"
Hi, I and my teammate @AnkitaKhurana are interested in working on this project during RGSoC 2018.

We tried installing the Stretchly app by .exe in order to understand its functioning, and we had a few suggestions which could enhance the robustness of the software. While installing the app on our PCs there was no welcome screen to introduce the user about the app has been installed, which leaves t

[2018-02-14 03:50] purva98 commented on #200
Thanks for the detailed explanation. We have earlier worked with DB so we can try to solve that problem. Working with css is always fun, thanks for sharing the link :)

[2018-02-14 05:29] tsah20 commented on #86
@hovancik  I want to work on this.

[2018-02-14 05:31] kavya-jain commented on #89
@hovancik I want to work on this.

[2018-02-14 06:20] kavya-jain opened #203 "Redundant Data"
Hi
My teammate @tsah20 and I are interested in working on this project during RGSoC 2018.
Break ideas and microbreak ideas are included in defaultSettings file as well as defaultBreakIdeas and defaultMicrobreakIdeas file. It can be included in one file and redundancy can be removed.

[2018-02-14 06:29] jainaman224 opened #204 "Update Electron dependency"
Update electron dependency to 1.8.x. So, there is support for latest debian based distros for tray icon. https://github.com/hovancik/stretchly/blob/master/package.json#L40

[2018-02-14 06:36] jainaman224 opened #205 "Edit submenu"
I don't think there is a need for edit submenu. As option like cut copy paste are of not much use.

[2018-02-14 06:44] purva98 commented on #204
Sir,
Great to see the upgradation, I wanted to ask that, by debian based do you mean Kali Linux, Tails, Ubuntu , Grml?

[2018-02-14 06:48] jainaman224 commented on #204
I setup strechly on ubuntu 17.10 and 17.04. In both the OS, there were no tray icon initiated.

[2018-02-14 07:09] jainaman224 opened #206 "Include gitter badge to Readme"
This is the sample badge for stretchly.
[![Join the chat at https://gitter.im/stretchly/Lobby](https://badges.gitter.im/stretchly/Lobby.svg)](https://gitter.im/stretchly/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

[2018-02-14 07:47] hovancik commented on #206
Feel free to make a PR. I thought that gitter would create it automatically as their bot forked the repo, but that didn't happen and I forgot about it after.

[2018-02-14 08:06] hovancik commented on #204
Hi, I usually update deps before I make a release. Not sure if that's the best way to do it, thought.

For tray, `libappindicator1` needs to be installed as dependency. https://github.com/hovancik/stretchly#linux-note

[2018-02-14 08:51] hovancik commented on #86
Hi, please see this issue, it's related and I am talking there about how I imagine that should work: https://github.com/hovancik/stretchly/issues/200

[2018-02-14 09:02] hovancik commented on #89
Awesome ;]  I think this setting should be in "advanced" setting. And by that I mean that it should be possibe to change this value by editing config file, not from UI. Eg. the same like editing break notification timer.

[2018-02-14 09:12] jainaman224 commented on #206
@tsah20 @kavya-jain Make a Pr.

[2018-02-14 09:20] jainaman224 commented on #204
I tried to run after installing `libappindicator1` but it is of no use. https://github.com/electron/electron/issues/10887, See people are reporting same issue with electron 1.7.x but no one said anything about 1.8.x and moreover upgrading to 1.8.x worked for me. AppImage also doesn't produce tray icon.

[2018-02-14 11:25] #206 closed

[2018-02-14 15:55] tsah20 commented on #200
@hovancik   Can we use [JSON DB]((https://www.npmjs.com/package/node-json-db) for local storage.

[2018-02-14 15:56] tsah20 commented on #200
@hovancik Can we use [Json DB](https://www.npmjs.com/package/node-json-db) for local storage.

[2018-02-14 16:10] hovancik commented on #202
Hi, you are right. Some kind of intro screen would be nice as stretchly is tray only app.

[2018-02-15 07:48] hovancik commented on #205
Which option do you mean? I am not sure if I understand.

[2018-02-15 07:49] hovancik commented on #204
Ok, we'll check after I release new version.

[2018-02-15 07:51] hovancik commented on #203
Hi, thanks for your interest!
They are duplicated there for a reason: https://github.com/hovancik/stretchly#editing-breakmicrobreak-ideas (in case someone wants to use custom break ideas)

[2018-02-15 07:51] #203 closed

[2018-02-15 07:59] hovancik commented on #200
I would rather go with something like SQLite. I'm afraid that read/write from JSI+ON file would be slow once we have a lot of data. And we will have a lot of data for sure.

[2018-02-15 08:16] jainaman224 commented on #205
![screenshot from 2018-02-15 13-43-29](https://user-images.githubusercontent.com/13117482/36246616-9f00b77e-1256-11e8-9d8e-920e48644631.png)

[2018-02-15 13:37] hovancik commented on #205
Ah, I see. This is from electron. Not sure if I can edit this menu.

[2018-02-15 16:57] bramborman commented on #205
Isn't it visible only when not in release mode? I have downloaded stretchly from GitHub releases and the menu is not there. It may also be Windows specific, not sure...
![image](https://user-images.githubusercontent.com/20975774/36269465-91476880-1279-11e8-9ef9-14590a84e785.png)

[2018-02-15 17:48] jainaman224 commented on #205
It is not visible on my friends Mac. I am unsure about the behavior. It is visible for me.

[2018-02-15 18:03] hovancik commented on #205
@jainaman224 you are also on mac?

I've tested on my Debian/XFCE and I don't have it.

[2018-02-15 18:06] jainaman224 commented on #205
@hovancik With my friends PC. I have also tested it on windows. There is no such menu. So, maybe we can close this issue. But it gives me an idea to have a menu like this. So, that we don't need to have separate about and settings page.

[2018-02-15 18:12] hovancik commented on #205
My bad, I have it on Settings page, but I do not have it on break window.

Anyway, I will close this as it is not big issue. Probably depends on platform...

[2018-02-15 18:12] #205 closed

[2018-02-15 18:27] nicdesjardins opened #211 "Allow for breaks less than 5 minutes long"
I would like to add the ability to set breaks to something less than 5 minutes.

This is a formality and I would like to make a PR (pull request) to make the change.

[2018-02-16 08:01] #211 closed

[2018-02-16 16:23] apoorvaagupta commented on #200
Hi @hovancik ,
I have worked with Electron and sqlite before! Can I give this issue a try as no one is assigned to it?!

[2018-02-16 18:58] shloka-812 opened #214 "javascript error in installation process"
![error](https://user-images.githubusercontent.com/36547714/36324115-642782f8-1379-11e8-8757-d799fcb83b3b.png)

[2018-02-16 18:59] shloka-812 commented on #214
I am a windows 10 user. This electron issue is coming up and I am unable to install it.

[2018-02-16 19:07] hovancik commented on #214
Is this when you run the app or when running installer?

What file are you using to install stretchly?

[2018-02-16 19:11] shloka-812 commented on #214
This is when I am trying to do npm start , after doing npm run dist as well as npm install

[2018-02-16 19:35] purva98 commented on #214
Hi fellow windows 10 user,
Is the error saying node_module 54 but expected 57?
I think a common solution which you can try is:
-reinstall node js from https://nodejs.org/en/  ( to upgrade to v8.9.4)
- Open windows powershell
        -Right click on the icon and select run as administrator option
- npm --add-python-to-path='true' --debug install --global window
    (This will install Visual studio

[2018-02-16 20:03] shloka-812 commented on #214
@purva98 thanks!
You said it will take some time , but everything was very fast as I followed the steps ;]
Thanks for solving my issue.

[2018-02-17 03:23] #214 closed

[2018-02-17 19:22] apoorvaagupta commented on #200
Thanks @hovancik !  Can you suggest any other issue as . I would love to contribute to this project! Also, I and my team mate bhavya are aspiring for RGSoC!

[2018-02-18 07:46] bhavya14 commented on #160
Hi @hovancik !!
I would like to work on this issue.Can I take this up as no one is working on it.

[2018-02-18 19:30] purva98 commented on #89
Do we want a solution where we can customize our pause time value ? Like:

![menu](https://user-images.githubusercontent.com/24644158/36355816-1c4a96f4-150f-11e8-9d67-6e8245fede68.png)
![pausewindow](https://user-images.githubusercontent.com/24644158/36355817-1cb6015a-150f-11e8-9dff-0b48a6a39d8a.png)

if yes then ,
Here every time after setting a new customized pause value ,my tooltip is showing m

[2018-02-19 04:07] kavya-jain commented on #89
Hi @purva98 I'm working on this issue. Can you please work on something else.

[2018-02-19 09:43] hovancik commented on #89
Hey @purva98, I'm already talking to @kavya-jain about it ;]

[2018-02-19 09:51] hovancik commented on #160
@bhavya14  Yeah, how would you like to do it? Let's talk about it first

[2018-02-19 10:06] riddhi99 commented on #89
Okas :)

[2018-02-19 17:40] kostadinnm commented on #152
Hi there!
Kudos for the great app!
I'd like to add a suggestion for the idling monitor - could we have some kind of monitoring the system usage(say the cpu usage) in order to have more accuracy on whether a user is sitting in front. Another thing will be whether the image on the monitor is changing.
While typing this, I realize that the best thing would be having a dedicated sensor(and an accompan

[2018-02-19 19:05] fizvlad opened #219 "Add Russian translation"
@hovancik
Hello! I would like to add Russian localization.
There is already exists same issue #181 but it is now more than month old

CONTRIBUTING.md says I need to open an issue so here it is :)

At the moment I got translated _ru.json_, edited _settings3.html_, edited _README.md_, edited _CHANGELOG.md_.
I committed those [changes to fork here](https://github.com/fizvlad/stretchly/commit/5adf0a9b

[2018-02-19 19:06] hovancik commented on #219
Feel free to create a pr

[2018-02-21 09:42] bramborman opened #221 "AppX package problems"
Hi, I just tried to install _stretchly_ from the AppX package from GitHub releases but it fails to install since the package is not signed with a trusted certificate. So the AppX is practically useless for now. And there are assets missing so the package uses default _electron_ icon as you can see.

![image](https://user-images.githubusercontent.com/20975774/36472747-fe665eda-16f2-11e8-9669-5773be

[2018-02-21 10:03] hovancik commented on #221
So it's not possible to install without the cert? I guess then I wont use AppX.

The similar issue with icon is in Linux, I guess some electron-builder config has changed. One student interested in RGSoC is looking into it already.

[2018-02-21 13:50] bramborman commented on #221
If an app is **not** distributed through Microsoft Store, AppX must be signed with a certificate and the certificate must be installed on each device in the _Trusted Root_ or _Trusted People_ certificate store [(docs.microsoft.com)](https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-distribute#distribute-your-app-without-placing-it-onto-the-microsoft-store).
However if you will di

[2018-02-21 14:01] hovancik commented on #221
Many thanks for the research!

If you would like to help out with #164 , that would be great. Another option is to wait until summer and give this to RGSoC students. You could mentor them with this task.

The icon: I would rather go with colourful icon (so it's the same as in tray) ;] The black-n-white I am using only for Mac as per apples requirements. Or Microsoft wants black-n-white too?

[2018-02-21 16:46] bramborman commented on #221
There're not many things to do to release _stretchly_ in Microsoft Store besides preparing the AppX and they all should be probably done by you:

You have to [be registered](https://developer.microsoft.com/en-us/store/register) as an app developer in Microsoft Dev Center. You'll have to pay one-time developer fee (about $19).

1. [Register new app](https://developer.microsoft.com/en-US/dashboard/a

[2018-02-21 17:49] bramborman commented on #221
You'll also have to add some AppX configuration to be able to publish _stretchly_ in Microsoft Store. It's described in the first paragraph of [this article](https://www.electron.build/configuration/appx).

These values are used in app's Store manifest and according to [this article](https://docs.microsoft.com/en-us/windows/uwp/publish/view-app-identity-details), only three of them are really requ

[2018-02-22 04:39] kavya-jain commented on #202
Hi @hovancik,
Kindly review the Welcome page and suggest changes.
![image](https://user-images.githubusercontent.com/30476096/36520658-2cdd9bfa-17b8-11e8-8c93-b7dbdab738a1.png)

[2018-02-22 04:42] kavya-jain commented on #202
Hi @hovancik,
Kindly review the welcome page and suggest changes
![welcome_page](https://user-images.githubusercontent.com/30476096/36520747-d7b52a02-17b8-11e8-8af5-e39df55d6c4e.PNG)

[2018-02-22 12:55] rafpaf opened #222 "Friendlier download page"
I'd like to recommend Stretchly to my students. However, from https://hovancik.net/stretchly/ it's hard to figure out how to download the software. Most users expect a large button somewhere that says "download Stretchly". Even if you click on the "downloads" link, you're taken to a page with a lot of strange language ("assets?") and it's hard to figure out which of those links will work for your

[2018-02-23 08:34] hovancik commented on #221
Many thanks for research! Seems that the fee is yearly. I'll try to follow the steps when I find some time.  I guess I will charge some money for app-store version. Or no.

[2018-02-23 10:13] bramborman commented on #221
No, it definitely isn't yearly :D It was few years before, but they changed it to one-time. I'm registered as a developer for about 3 years and have never paid again.

This is on the registration page:

[2018-02-24 07:19] hovancik commented on #222
Yeah, that's true. I was hoping to leave this task for students from [RGSoC](https://railsgirlssummerofcode.org/), but I guess I will make a supersimple download page now and then let them enhance it.

The "strange" assets are stretchly installers/executables for different operating systems and package managers.

[2018-02-24 07:24] hovancik commented on #204
Is this still issue with new version? On my debian and xfce setup I see icon fine.

[2018-02-24 07:54] hovancik commented on #202
@kavya-jain thanks for the screenshot.

Few things here.

I know that we are all excited about RGSoC but let's not get ahead of ourself ;]
The feature of welcome screen was suggested by @dimi-23 and @AnkitaKhurana so I think it would be fair to let them implemented it, if they are still interested in contributing.

Another thing is implementation itself. First we need to think in terms of problem.

[2018-02-24 08:45] jainaman224 commented on #204
No, thanks.

[2018-02-24 08:45] #204 closed

[2018-02-24 13:23] #219 closed

[2018-02-24 13:43] rafpaf commented on #222
Thank you!
On Sat, Feb 24, 2018 at 2:19 AM Jan Hovancik <notifications@github.com>
wrote:

[2018-02-25 16:19] hovancik commented on #222
https://hovancik.net/stretchly/downloads/

[2018-02-25 16:19] #222 closed

[2018-02-26 09:49] diegosom commented on #189
@hovancik both of them interrupt user's work
Anyway it's just an idea, I'm not quiet sure if such keyboard/mouse tracking is possible at all and easy to implement

[2018-02-26 09:52] hovancik commented on #189
I'm labeling this with RGSoC, so we can look at this with students during summer. I'm actually beginning to like the idea of waiting few seconds before starting a break.

[2018-02-28 00:45] rafpaf commented on #222
Brilliant, thank you Jan!

[2018-03-03 17:48] kavya-jain commented on #202
@dimi-23 Thanks for the confirmation. @hovancik  i'll create a PR for it.

[2018-03-05 08:55] hovancik commented on #202
@kavya-jain so how about questions mentioned here? https://github.com/hovancik/stretchly/issues/202#issuecomment-368209111

[2018-03-05 08:56] hovancik opened #224 "Make microbreak length up to minute"
Right now it's up to 30 seconds only.

If anyone wanna contribute, this is a easy fix.

[2018-03-05 09:08] purva98 commented on #224
Yes, we would like to do it ;)

[2018-03-05 09:14] hovancik commented on #224
Go ahead.

[2018-03-05 15:01] #224 closed

[2018-03-07 13:16] MuskanSapolia opened #226 "npm install throws error"
When installing dependencies, the following error comes up:
[code]

[2018-03-07 13:50] hovancik commented on #226
Hi, depending on your platform, you'll need to install some deps for the package in error message.

[2018-03-07 13:50] #226 closed

[2018-03-07 13:52] hovancik commented on #226
Maybe this is related for you: https://github.com/hovancik/stretchly/issues/197

[2018-03-08 14:37] mpnieland opened #227 "Update is annoying"
Stretchly is great, and it's updated frequently (which is good), but currently the update is pretty rudimentary.  A notification pops up that a new version is available, and it keeps doing that at least once a day until you update (which is manual).

It would be great if Settings contained a period selector for how often to check for an update, and if there was auto-updating that just did it in th

[2018-03-08 17:24] hovancik commented on #227
That is strange, what release are you on? The last release before the latest 0.15.0 was 0.14.0 and was released this on Jan 7 ·

[2018-03-08 17:25] hovancik commented on #227
Anyway, you can disable update check manually by editing config:

https://github.com/hovancik/stretchly#new-version-notification

[2018-03-08 17:25] #227 closed

[2018-03-08 22:52] kostadinnm commented on #197
I wanted to use `yarn` instead of `npm`. If anyone's interested, here are the commands I needed to execute:
In an elevated shell:
`yarn global add windows-build-tools --add-python-to-path='true' --verbose`

Then, when I ran `yarn install` to build the app, I got an error about missing `electron-builder`(cannot list the concrete error because it seems to have depleted both the shell screen max line

[2018-03-13 14:48] hovancik commented on #221
@bramborman did you get any email when asking for Desktop Bridge app? It's been some time and I have not heard back from Microsoft. I remember I did not get any email when applying, so I am wondering that maybe my application didn't get through or something.

[2018-03-13 22:20] lundibundi opened #228 "Tray Tooltip not shown in Plasma 5 Arch"
So as stated in the title I cannot get KDE to show me the tooltip upon hovering of stretchly tray icon. It only shows me the icon and the name.
![image](https://user-images.githubusercontent.com/9109612/37372714-730bed7a-271c-11e8-994c-465a547ff19c.png)
I expect it to show me time left until the next microbreak (break) and so on.
[code]
Thanks for the great app =)

[2018-03-14 08:02] hovancik commented on #228
I don't have KDE env on my Linux, but: does the click on icon work?

I think that probably KDE does not support tooltips. Will research it...

[2018-03-16 10:44] hovancik commented on #228
this is electron issue, I've reported it https://github.com/electron/electron/issues/12321

[2018-03-17 08:16] hovancik commented on #221
so I resubmitted again. seems that it was not successful last time.

[2018-03-17 11:37] hovancik commented on #168
so I've tried again and it seems to work now. weird, but I guess good ;]

[2018-03-17 11:42] #168 closed

[2018-03-20 19:30] neooleg commented on #181
Hi, apologies me for disappearing for a long time for this initiative -- I have a lot on my plate for now.

Anyway, Ru was done already by @fizvlad -- thanks for him!

Hence, I've prepared Ua -- pls check #231

[2018-03-21 09:44] hovancik commented on #181
Thanks! There is problem with keys starting with capitals

[2018-03-26 06:21] neooleg commented on #181
@hovancik sure, I did the fix. Can you check?

[2018-03-27 12:33] lundibundi commented on #152
@hovancik what about stopping timer after [1] (configurable) min of inactivity and then upon user return if idleTime is bigger than the duration of a next break (break or microbreak) then skipping it, otherwise adding idleTime to the timer so that break happens later? This will most likely always skip microbreaks (as they are short) upon such pause but I think that's the desired behavior.

[2018-03-28 14:10] bramborman commented on #221
Not sure - it was a long time ago but if I remember correctly that day I submitted the form I got email saying they'll take a look at it and the next email with instructions came about 8 days later.

[2018-03-29 07:40] hovancik commented on #221
So I received the email. I've tried to upload app but it says and that there are some problems and points to link that does not work... oh microsoft... I'll probably try again later and then give up.

[2018-03-29 16:15] #181 closed

[2018-04-03 08:04] manueljaguilera opened #235 "Spanish translation"
### Prerequisites

- [x] I'm using latest version: v 0.16.0

### Description

Hello. I want colaborate translating stretchly app to spanish.

Operating system: Debian

[2018-04-03 08:05] hovancik commented on #235
Thanks! That would be great!

[2018-04-04 05:52] hovancik opened #237 "upper limit of microbreak duration set to 5 minutes"
In the beginning, limit was set to 30 seconds max. In the latest version we changed it to 1 minute.

After talking to some people, I think we should go even higher and set it to max 5 minutes.

If anyone wants to contribute, this one is easy one ;]

[2018-04-04 19:08] immonika opened #238 "Making it more Interactive"
Can we make stretchly  more interactive by asking users their basic details like name , age , country and according to age and country suggest the idea's in the window . And instead of writing the idea like "Look up and down " , it can show use username , like " Jan , Look up and down".
While going through the settings , i noticed there are only 4 audio schemes , can we modify it so that it can sy

[2018-04-04 19:17] immonika commented on #237
I would like to contribute @hovancik , but can we make this option in settings , so that users can change it according to their comfort . And as you mentioned it should be set to 5 minutes , by default.

[2018-04-04 19:35] hovancik commented on #237
Feel free to create a PR ;]

not sure what you mean by making this option in settings. this is already in options: user can microbreak duration time up to one minute. what I would like to do is to allow this to be set up to 5 minutes.

[2018-04-04 19:47] hovancik commented on #238
Hi, thanks for the idea but right now I'm not interesting in implementing this. As user, I would personally prefer not to share any of my private info with this app.

The changes would be also huge for codebase size (thus hard to maintain) and it would go against stretchly's philosophy: be as simple as possible.

Using name would be also hard: in English it's easy but in Slovak it's totally differ

[2018-04-04 19:47] #238 closed

[2018-04-06 04:40] CYC777 opened #239 "It stops timing sometimes? Is there a solution to fix it?"
### Prerequisites

- [x] I'm using latest version: v0.16.0

### Description
The app often stops timing and won't go into breaks.

Operating system:
MacOS High Sierra 10.13.3
### Steps to Reproduce

1. Not sure what triggers it, but it happens a lot on my computer.

**Expected behavior:** remind me to take a break on time

**Actual behavior:** Stop reminding me to break.
**Reproduces how often:** h

[2018-04-06 05:55] hovancik commented on #239
- how did you install it?
- did you change any settings?
- when you feel like it does not show any breaks, could you go to About window and do `Cmd+D` and write here what `breakPlanner:` shows?

[2018-04-06 13:46] CYC777 commented on #239
- how did you install it?
I use the .app file in the release for mac.

- did you change any settings?
Yes, I changed some time intervals, but just those settings.

- when you feel like it does not show any breaks, could you go to About window and do Cmd+D and write here what breakPlanner: shows?
OK. I can see the remaining time, I will keep an eye on it. And right now, it says,
![image](https://us

[2018-04-06 14:00] CYC777 commented on #239
I checked it when I feel it it's stopped, the "timeleft" did roll back.

[2018-04-07 08:02] hovancik commented on #239
Hi, so what you mean is that time left goes not to lower numbers but to higher numbers?

Could you please paste the content of settingsFile from screenshot? I will try on my mac with your settings, the problem is probably there somewhere.

[2018-04-07 19:16] CYC777 commented on #239
I think the time left was set to the default countdown number while it stops timing, like reset. It's not like it goes up minute by minute.
The json is below. The problem happens before I add those few Chinese comments, it probably won't cause the problem. Also, I have tried some other rest reminder app on my computer, they also lost timing from time to time. I feel like they stop running in the b

[2018-04-07 20:16] hovancik commented on #239
so I'm not sure if I understand correctly, but I see that you have naturalBreaks on, so stretchly will reset timer every time you go idle for 5 minutes. Maybe that's what happening?

[2018-04-07 21:52] CYC777 commented on #239
The plist is not the solution. Are you suggesting to turn the naturalBreaks off?

[2018-04-08 07:03] hovancik commented on #239
Yeah, if you do not want time to reset after 5 minutes of idle time, turn it off ;]

[2018-04-09 08:45] leneux opened #240 "Stretchly not paused automatically during DND/presentation mode on OSX"
### Prerequisites

I'm using latest version: v0.16.0. I am also running stretchly in full screen mode.

### Description

When enabling do not disturb mode (or when done automatically during presentation mode) stretchly still works. I've had the messages  pop up when I am trying to present things to other people which is really annoying.

I could switch it off, but I forget, and worst still the DND

[2018-04-09 12:24] CYC777 commented on #239
I think it works! Thank you so much!!

[2018-04-09 12:24] #239 closed

[2018-04-10 08:23] unholyHub opened #241 "Overlapping of reminders with 1 second remaining"
### Prerequisites

- [ ] I'm using latest version: v0.16.0
### Description

[Description of the issue]

Operating system: Windows 8.1

### Steps to Reproduce

1. Wait until **microbreak** reminder appears
2. While the **microbreak** timer is decreasing go to the tray and **skip to next break**
3. After the **break** finishes the **microbreak** stays at **1 second remaining**

**Expected behavior:*

[2018-04-15 19:16] thankyou-xx commented on #189
What if there was a whitelist of the executables - if the whitelisted exe is in the active window, the notification will not appear(or, optionally, appear to the side of the screen). After the exe is closed, the notification could appear how many times you missed a break and need to make up for it.
This is especially useful for high-immersion activities such as movie watching. I do realize one can

[2018-04-18 11:07] tburny commented on #189
I would simply suggest a "typing with grace period" approach: Don't interrupt while the keyboard is active and wait at least X (10?) seconds for more keystrokes before interrupting. I know this is kind of very low-level, though.

[2018-04-20 08:23] nfelger opened #243 "Pause until tomorrow"
This is a feature suggestion.

I like using Stretchly all when I'm working, but I use the same laptop for work and leisure and I often find myself in a position where I'm watching videos or doing other things with my laptop in the evening. In those situations, I don't always like having the breaks.

What would be nice for that is a menu option to pause Stretchly until the next morning (e.g. 6am lo

[2018-04-20 12:50] s-kashif opened #244 "Respect Flow"
Sometimes we get in the "Flow" and would like to be not disturbed for a while
(Some way to disable 3-4 future microbreaks)

:)

[2018-04-23 10:59] hovancik commented on #240
Sorry for late reply, I was on holidays. What do you mean by: "Go to notification centre and turn DND on" ?

[2018-04-23 18:26] hovancik commented on #241
Many thanks for the report, I was on holidays so sorry for late reply.

Right now I'm lost in tasks, but I will try to fix it as soon as I find some time. More options here:

- do not allow to skip to other breaks while some type of break is going on
- allow to skip to other break but cancel actual one

I am for option 2 (the same you said) and unless someone comes with great argument, I will fix

[2018-04-24 12:09] hovancik commented on #189
Thanks for feedback guys.

Right now, I don't know about any way to track apps opened by user ;/ I was checking it because this was proposed before.

What will probably be implemented is: after notification, when the time is for the break start, the icon will start flashing or something like that. App will wait for some time (let's say minute) until user is inactive (for let's say 10 seconds) and

[2018-04-27 06:51] Sveijk commented on #193
Hi Jan!

My teammate Alina and I got accepted for this Rails Girls Summer of Code.
Stretchly is our first choice project. We're looking forward to working on Stretchly this Summer :-)

I think it would be a good idea to get in touch with you before the project starts, what do you think / how do you feel about that? Sabine

[2018-04-27 09:41] hovancik commented on #193
Yeah, great idea ;] I'm hanging out on https://gitter.im/stretchly/Lobby

[2018-04-27 11:09] hovancik commented on #243
I like it ;]
The only question is what would "tomorrow" mean.  I guess 6am could be ok

[2018-04-27 11:14] hovancik commented on #244
@s-kashif what settings do you use? maybe setting longer time between micro/breaks could solve your issue? I  general I would prefer using those settings to solve it

@lundibundi that could work, but I am afraid that it would make menu too complicated. We would need to have menu to disable breaks, disable micorobreaks, disable both and logic to handle all posible options... not sure if it's worth

[2018-04-30 09:04] auanasgheps opened #245 "At every reboot, Node.dll was not found (ffmpeg.dll too)"
### Prerequisites

- [x] I'm using latest version: v 0.16.0

### Description

When I install Stretchly works fine. However every time I reboot the system I get two error messages:
- node.dll was not found
- ffmpeg.dll was not found

![2018-04-30 10_00-stretchly exe - system error](https://user-images.githubusercontent.com/20586878/39420717-b119a088-4c5d-11e8-95f1-13bb09de55cf.jpg)
![2018-04-30 09_

[2018-04-30 09:15] auanasgheps commented on #245
Little update:
The worst antivirus ever made (McAfee, for Enterprise) thinks that Stretchly is a malware.
![2018-04-30 10_09-mcafee endpoint security](https://user-images.githubusercontent.com/20586878/39420958-db342de2-4c5e-11e8-92cc-c3629be2e130.jpg)

I would love to get rid of it, but I'm using Stretchly on an enterprise PC.
McAfee thinks Stretchly **installer** is a malware, but I can't see an

[2018-04-30 09:35] leneux commented on #240
That's OK, thank you for replying.

On OSX, if you press the icon on the very top right of the screen this notification tray opens, there is an option to turn on do not disturb there.

<img width="1440" alt="screen shot 2018-04-30 at 10 23 57" src="https://user-images.githubusercontent.com/38141548/39421715-358e5ba2-4c62-11e8-9835-cfa830938ab8.png">

[2018-04-30 10:17] auanasgheps commented on #245
2nd update:
Looks like I have resolved the problem by reinstalling Stretchly in **Program Files** and not in **AppData** as was previously done. I have done a reboot and looks fine.

[2018-04-30 11:35] hovancik commented on #245
Hi and thanks for reporting,

antivirus: they really don't like electron based apps ;/ many of them ;/ I haven't seen any solution for this, yet

missing files: glad you worked it out, I guess that's some windows thingy going on there

[2018-04-30 11:35] #245 closed

[2018-04-30 11:39] hovancik commented on #240
Ah, thanks, I didn't know about this, will research it

[2018-05-01 15:46] #235 closed

[2018-05-05 10:48] #237 closed

[2018-05-05 11:01] #241 closed

[2018-05-05 11:06] hovancik commented on #183
Hi, is this still issue? It's been a few months and versions ;]

[2018-05-05 11:10] hovancik commented on #98
This is electron bug and mentioned in readme so I'm closing it.

[2018-05-05 11:10] #98 closed

[2018-05-07 04:49] alexwennerberg commented on #183
Not sure. My coworker just changed it to fullscreen mode and it worked fine.

[2018-05-07 08:04] hovancik commented on #183
Ok, noone else reported so I'm gonna close it.

[2018-05-07 08:04] #183 closed

[2018-05-08 00:08] s-kashif commented on #244
@hovancik I'm a pretty distracted fellow 😄 so I put 10 sec micro breaks every 5 min and then 3 min break every 30 min.
These super quick micro-breaks are great at breaking procrastination but also get in the way when I'm actually focused.

I would suggest having user customizable profiles like flow-profile, distracted-profile with some shortcuts to quickly switch b/w them.
eg.
flow-profile -> no m

[2018-05-10 17:31] fKing opened #250 "not working on high sierra..."
### Prerequisites

- [ ] I'm using latest version: v  0.17.0

### Description

[Description of the issue]  nothing is happening (app is open in the menu bar)...

Operating system:  mac os 10.13.4

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]

**Reproduces how often:** [Wh

[2018-05-10 18:43] fKing commented on #250
it does seem to work (but perhaps the windows appear underneath whatever i am doing? will check further, and report back

[2018-05-10 20:00] fKing commented on #250
fine after a reboot!

[2018-05-10 20:00] #250 closed

[2018-05-11 07:08] hovancik commented on #250
glad it works ;]

[2018-06-08 14:31] itay-grudev opened #253 "Monochrome icons for all platforms"
Can you enable the monochrome icons for all platforms (not just OS X). For example both KDE and Windows 10 use white monochrome icons.

[2018-06-11 08:06] hovancik commented on #253
What do other people think?

[2018-06-11 08:07] itay-grudev commented on #253
It could be an option to switch it on or off, couldn't it?

[2018-06-11 08:13] hovancik commented on #253
Yeah, that's the best solution ;]

[2018-06-11 14:50] mbbmbbmm opened #254 "Asymmetric breaks"
Hi!
Very nice app :)
Is it possible to configure asymmetric breaks? so for instance after 10 minutes take a micro break, after another 20 minutes take a full break?
Thank you!

[2018-06-13 11:53] hovancik commented on #254
Hi and thanks for feedback.

Right now it's not possible and I don't think it will change anytime soon as it would require a big changes in internal app logic ;/

[2018-06-13 11:53] #254 closed

[2018-06-18 12:36] mbbmbbmm commented on #254
I see, thanks

[2018-06-25 14:59] jerzydziewierz opened #255 "Reset the break timer after screensaver kicks in"
### Prerequisites

- [ X ] I'm using latest version: v0.17.0

### Description

Stretchly appears to not notice that I am not at my keyboard (e.g. not moving my mouse) -- I frequently get breaks right after coming back to my machine after being on a break

Operating system: macOS High Sierra 10.13.5

### Steps to Reproduce

1. Set your break schedule to e.g. every 15 minutes
2. Work for 5 minutes,

[2018-06-26 09:09] mhewedy opened #256 "When use the block mode, not all workspaces are blocked in Mac OS X"
### Prerequisites

- [x] I'm using latest version: v installed using homebrew

### Description

[Description of the issue]

Operating system: Mac OS X

### Steps to Reproduce

1. Change the setting to "Breaks are fullscreen" to on
2. Wait for the break to come

**Expected behavior:** Block happened on all workspaces

**Actual behavior:** Block happened on single workspace which make it easy to ski

[2018-06-26 11:01] hovancik commented on #256
Hi, on my mac 10.13.2  and one external monitor it works fine and I see break window on all screens.

How many external monitors do you have?
Do you have option "breaks are show on all screens" checked? It's on last settings page.

<img width="416" alt="screen shot 2018-06-26 at 12 59 02" src="https://user-images.githubusercontent.com/4745859/41907330-cc5b1e52-7940-11e8-886f-240e826ad722.png">

[2018-06-26 11:33] mhewedy commented on #256
Yes, I have this option "breaks are shown on all screens" checked. I think it comes checked by default.

Note, I am not talking about all monitors, I am talking about all workspaces within my mac book bro monitor. ( I am not attaching external monitor in this case)

[2018-06-26 11:44] hovancik commented on #256
Gotcha. I have found API for this so I will take a look whether it works.

https://github.com/electron/electron/blob/master/docs/api/browser-window.md#winsetvisibleonallworkspacesvisible

[2018-06-26 11:48] mhewedy commented on #256
Note, the same function works fine on windows 10

This is what I mean by workspace (but since I don't have mac in my work, I screenshotted my windows workspaces)

![stretchly](https://user-images.githubusercontent.com/1086049/41909009-86890ba6-794e-11e8-9907-005bf1ec07f7.png)

[2018-06-26 11:50] mhewedy commented on #256
@hovancik , it is working as expected on windows, the issue only occurs on mac. Shall I open this issue on electron instead?

[2018-06-26 11:55] hovancik commented on #256
@mhewedy The API I mentioned is not used right now in stretchly, so no need to open issue with electron, yet. I will test turning it _on_ and we shall see. Electron's docs don't mention whether it's on or off by default.

[2018-06-26 19:31] mhewedy commented on #256
@hovancik I tried the function you mentioned but didn't manage to get the issue solved.

[2018-06-27 09:38] hovancik commented on #256
how did you do it? I haven't had time yet...

[2018-06-27 10:50] mhewedy commented on #256
I called the method setVisibleOnAllWorkspaces(true) in two places, once for the BrowserWindow object at initialization time (exactly after the constructor, after this line https://github.com/hovancik/stretchly/blob/master/app/main.js#L317)

And called the same method on the same object in the 'ready-to-show' event after this line: https://github.com/hovancik/stretchly/blob/master/app/main.js#L320

[2018-06-28 19:01] mhewedy commented on #256
It seems we have a complex issue:

Call to `BrowserWindow.setFullScreen` should be avoided, because it sends stretchly to a new workspace itself (i.e. as if you click the mac maximize button without click on the alt button). Instead we can resize the BrowserWindow to fill the screen.

Still One issue remaining is to hide mac menubar and dockbar

here's diffs

[code]

[2018-06-29 06:53] hovancik commented on #255
Hi, so I set up breaks to come after 15 minutes and my screensaver to start after 1 minute. I waited 10 minutes with screensaver and when I come back the tooltip was saying that next microbreak is in 15 minutes. So it works ok for me.

Do you have monitoring of idle time turned on?

[2018-06-29 06:57] hovancik commented on #256
I see. Could you push your code and make a pr so I can play with it as well?

And have you tried it on electron-quick-start? Does it behave the same?

[2018-06-29 12:28] mhewedy commented on #256
Mac contains two types of workspaces:

* Application-created:
![application-created](https://user-images.githubusercontent.com/1086049/42091982-fb5d6f18-7baf-11e8-92ee-0d1a24b75220.png)
* vs User-created:
![user-created](https://user-images.githubusercontent.com/1086049/42091988-00a2eda4-7bb0-11e8-8841-a24778b5687e.png)

The following table illustrates the diff between stretchly and electron-quick

[2018-06-30 10:19] lundibundi opened #258 "start using querySystemIdleTime upon update to electron@3.0.0"
New electron version added chromium bindings for [system idle time](https://github.com/electron/electron/pull/11807) so consider using them upon update to the new Electron. ([Electron release notes](https://github.com/electron/electron/releases/tag/v3.0.0-beta.1))

Also, I tried updating electron in stretchly to beta version and it seemed to work just fine, though I couldn't get paulcbetts/node-sy

[2018-06-30 16:12] mhewedy commented on #256
Any updates on this from your side?

[2018-06-30 16:57] lundibundi opened #259 "resumes from manual pause upon system resume"
### Prerequisites

- [x] I'm using version: master at c9d960eeb801921820ad36435717e7c4cc204936 with https://github.com/hovancik/stretchly/pull/233 merged in.
- [x] I'm using version: master at c9d960eeb801921820ad36435717e7c4cc204936.

### Description

Stretchly resumes manual pause upon resume from suspend.

Operating system: Arch linux

### Steps to Reproduce

1. Start app
2. Select pause for 1

[2018-07-01 15:06] hovancik commented on #259
I'm not absolutely sure, but I believe that I only used it for indefinite break because when in suspend/sleep the timer is not changed. So ie. when user pauses for 2 hours and after 1 hour suspends for 3 hours, when he come back the timer is at 1 hour.

So yeah, if I understand you correctly:

[code]
you would:
on suspend - remember time
on resume - calculate suspended time and recalculate timer f

[2018-07-01 17:56] lundibundi commented on #259
@hovancik yes, that's correct.
Though this may be a problem for mac os/windows as the power monitor in electron still doesn't seem to work correctly on those platforms (based on electron issues), so we may have to leave the previous behavior for them or use something like [this](https://blog.alexmaccaw.com/javascript-wake-event) to detect suspend/wake.

[2018-07-01 18:42] mhewedy commented on #256
Good luck for your interview 👍 👍

[2018-07-02 14:12] hovancik commented on #256
Thanks,  I have moved interview for tomorrow, probably :D

Anyway, I have tried your PR and it seems that we can not put window over whole screen in that way ;[ At least I haven't found one ;[

there is also
[code]
that is a bit better but the titlebar is still visible and skipping break text often gets hidden by bar ;[

So I guess what we can try is to open issue in electron and ask them to make

[2018-07-02 14:17] hovancik commented on #256
Or maybe there is hope

I'm just trying ` breakWinLocal.setKiosk(true)` and it seems to work.

I remember it not doing anything long time ago, so maybe they fixed it?

[2018-07-02 16:56] mhewedy commented on #256
Woooow!
`setKiosk(true)` looks like it is the one!

[2018-07-02 18:42] hovancik commented on #256
Would you like to update PR so that we only update `setFullscreen` to `setKiosk` ?

I've tested on linux and it's broken, but the fullscreen is as well (https://github.com/electron/electron/issues/11632)

I have to test on Windows

[2018-07-02 18:54] hovancik commented on #259
I will test but it might take time ;[ Also I will check code. I'm slowly getting to close/merge all remaining PRs but time is time :D

[2018-07-02 19:29] mhewedy commented on #256
@hovancik I noticed that the `setKiosk(true)` works as expected only in the electron-starter, not in stretchly, I am trying to find out why!

[2018-07-02 19:49] hovancik commented on #256
It seemed to work from me. What I did was to replace `setFullscreen` with `setKiosk`. But not with your changes,  I did it  in master.

[2018-07-02 20:49] mhewedy commented on #256
Have you tried to press ALT+TAB?

[2018-07-03 10:50] hovancik commented on #256
Yes, that is able to workaround fullscreen break ;[ Unless electron devs come up with some mode where fullscreen is always fullscreen and on top, I don't think we can fix that ;/

[2018-07-04 11:46] Sveijk opened #261 "Dutch translation"
### Prerequisites

- [x] I'm using latest version: v

### Description

translating Stretchly for Dutch language

Operating system: MacOS High Sierra version 10.13.3

[2018-07-04 12:10] hovancik commented on #261
👍 go for it

[2018-07-04 18:57] Sveijk commented on #261
Thank you :-)

2018-07-04 14:10 GMT+02:00 Jan Hovancik <notifications@github.com>:

[2018-07-04 21:12] lundibundi commented on #243
I'll work on it. I think I'll implement 2 versions
* manual hour specification
* specification of coordinates so we will be able to calculate the actual sunrise
@hovancik what do you think?

[2018-07-07 00:47] lundibundi commented on #243
Oh, that's good, but imo it's easier to just push `until morning` than to manually specify time (if I understand correctly how custom pause will work) because that's much more common use case, for example when I'm finished with work for today and want to watch films etc.

Location thing is completely optional and available only through manual edit of 'config.json' so this shouldn't be that big of

[2018-07-07 10:19] aleuca opened #264 "Minimization of window of mac is not working"
### Prerequisites

- [x] I'm using latest version: v

### Description

When you maximize a Stretchly window on mac there is no obvious way to minimize it again aside from quitting the app.

Operating system:

### Steps to Reproduce

1. Open an About window
2. Maximize window
3. Try to minimize window

**Expected behavior:** When mouse is hovered on top the toolbar should appear. Shortcuts like com

[2018-07-07 10:33] aleuca opened #265 "Break only active in one screen if user is using maximized windows"
### Prerequisites

- [ ] I'm using latest version: v

### Description

[Description of the issue]

Operating system:

### Steps to Reproduce

1. Open a browser window and maximize it
2. force a break to start
3. 3-finger swipe to the desktop (right or left)

**Expected behavior:** Break reminder should always be on the screen even if user has swiped right or left to a different screen

**Actual be

[2018-07-07 11:15] aleuca opened #266 "History and Timeline of Breaks"
### Feature addition

Add a new window with history and timeline for breaks.
Acceptance criteria:

- [ ] stretchly has events: break has started, break has finished, user has entered idle time, idle time ended, system went to sleep, wake up of the system, etc...
- [ ] every of this event is saved into local DB file (eg. Event) - SQLite or Postgres?
- [ ] when we are saving event, and we know it's

[2018-07-07 11:16] Sveijk commented on #200
@hovancik this issue references to another issue #86. We're adding a new issue for history of breaks to start with.

[2018-07-08 19:01] aleuca opened #267 "Lock all npm dependencies to exact versions instead of auto-update"
Currently all dependencies are on auto-update. We should lock in the exact versions to avoid breaks in the future when dependencies come out with new versions. From now on when we run `npm i dependency_name --save --save-exact` to always lock in the current version.

[2018-07-08 19:40] aleuca opened #268 ""on app start" test needs to be updated"
### Prerequisites

- [x] I'm using latest version: v 0.17.0

### Description

"on app start" test checks for 2 open windows.

### Steps to Reproduce

1. run `npm test`

**Expected behavior:** Expect test to be checking for 2 process windows on first run and 1 process window on open if the user is running app not for the first time.

**Actual behavior:**  test fails and test checks for 2 windows in

[2018-07-08 23:24] pjebs opened #270 "definition of breaks"
I was wondering what the difference was between a break and a microbreak?
Is it only the duration( one is meant to be shorter).

What is a natural break? how does it relate to idle time? what is idle time?

[2018-07-09 06:35] #261 closed

[2018-07-09 06:43] hovancik commented on #264
What window do you mean?

[2018-07-09 06:52] hovancik commented on #270
Hi and thanks for questions ;]

**Microbreak** is meant to be small break, little exercise to remember to keep your body in check. So small eye or posture exercise, remember to drink or so.

For me personally it's about getting my mind to think about my posture, to remember to close my eyes and breath.

**Break** is meant to be longer break after few microbreaks. It allows you to make a longer exe

[2018-07-09 06:59] hovancik commented on #267
I guess this is good solution. If anyone is more familiar with nodejs let us know ;]

[2018-07-09 07:03] hovancik commented on #265
closing as duplicate of #256

I guess we will never be able to 100% fix this but using `setKiosk` should help

[2018-07-09 07:03] #265 closed

[2018-07-09 07:05] hovancik commented on #256
@mhewedy will you update your PR to use kiosk mode as I mentioned so we can have you as contributor?

I think the most we can do now is to keep behavior as it was before but use Kiosk, not Fullscreen. Will still need to check on Windows and Linux...

[2018-07-09 07:08] hovancik commented on #264
This is more complicated task. It relates to #154 . We would need to research how electron and system shortcuts works.

Anyway, what I have noticed on Linux is that there is no maximize on About window.

[2018-07-09 07:20] pjebs commented on #270
thanks

[2018-07-09 07:20] #270 closed

[2018-07-09 10:49] hovancik commented on #86
closing in favor of #266

[2018-07-09 10:49] #86 closed

[2018-07-09 10:49] hovancik commented on #200
closing in favor of #266

[2018-07-10 15:03] #259 closed

[2018-07-10 16:13] lundibundi commented on #267
from here:https://github.com/hovancik/stretchly/commit/3dc28c5fa658a49efe84aae6b64fef5299701288#r29659128
But that's what [semver](https://semver.org/) is for. "^version" stands for "any compatible with 'version'" therefore it is usually safe to update. Yeah it is still possible that the app breaks but it's rare and usually unintentional, developers will most likely quickly fix any breakage in the

[2018-07-10 16:20] aleuca commented on #267
@lundibundi This is a good find, thanks! @hovancik shall we revert back to auto-update? This is probably best, but then we just need to keep in mind that `package-lock.json` will be changing with updating dependencies.

[2018-07-10 16:24] aleuca commented on #267
@lundibundi good find, thanks! @hovancik should we revert back? We can just use the `--no-save` tag instead of the `--save-exact` to maintain the `package-lock.json` the same.

[2018-07-11 12:49] Sveijk commented on #266
List
===
List of all events we could find and actions or state.
Here's also an image attached of sketches for a data graph.
Items that could be subject of the graph are:
- [ ] Counters (number of breaks, etc during some timeframe)
- [ ] Time (duration total of breaks, etc during some timeframe)

![Image of our awesome drawn graph](https://pbs.twimg.com/media/Dh004WDX0AEqbnW.jpg)

## Events

- [ ]

[2018-07-11 12:56] drigberg commented on #266
I wrote a whole explanation of why i would do it a different way, and then I realized that yours is better. Great work!!!

[2018-07-11 12:59] drigberg commented on #266
Could you provide a demo for the Event schema? Example:

[code]

[2018-07-12 08:44] hovancik commented on #161
@BullHorn7 you can pause the breaks and restart them when you are ready from tray menu

[2018-07-12 11:14] hovancik commented on #148
So what I would add is:

first item in menu is and is disabled as mentioned previously:

[code]

[2018-07-12 11:20] #202 closed

[2018-07-12 11:21] #193 closed

[2018-07-12 11:45] #267 closed

[2018-07-12 11:45] #268 closed

[2018-07-13 12:17] hovancik commented on #266
Hey folks, so some things I've been thinking about. I've polished your list of States

### Activity / State
- work (when user is doing whatever she wants)
- idle/natural break (when we are in idle time - meaning user has been idle longer as 5 minutes - as it it in app right now)
- break (when break is on)
- microbreak (when microbreak is on)
- paused (user has manually paused)
- DND / presentation

[2018-07-14 08:38] Sveijk commented on #266
We researched which database could be used with an Electron App. A database that wouldn't make the user install anything extra other than Stretchly. It seems that there're two options here that we know of: [Sqlite and NeDB](https://www.techiediaries.com/electron-data-persistence/).

[2018-07-14 12:56] mhewedy commented on #256
@hovancik Sorry for being late, currently I am too busy, in one or two days I should be resume working on this issue.

[2018-07-15 11:16] fizvlad opened #272 "Hard to click checkbox in settings"
### Prerequisites

- [x] I'm using latest version: v 0.17.0

### Description

One of checkbox is hard to click because it covered with "Back" button

Operating system: Win8.1

### Steps to Reproduce

1. Choose Russian language
2. Go to 3rd step of Settings ("Настройки")

**Expected behavior:** User is able to click checkbox on screenshot

**Actual behavior:** Hard to click because of "Back" button

[2018-07-15 17:01] hovancik commented on #256
No problem ;] take your time

[2018-07-16 06:35] hovancik commented on #266
I'm for SQLite

[2018-07-16 06:38] hovancik commented on #272
Thanks for the report ;] As you said, we can easily fix this with css.

[2018-07-18 12:17] #272 closed

[2018-07-25 15:22] BritishPotato opened #277 ""breaks are fullscreen" enabled does not make breaks fullscreen in Ubuntu"
I'm using the latest version: stretchly_0.17.0_amd64.deb

### Description

Having the "breaks are fullscreen" enabled from the menu, Stretchly fails to be fullscreen during breaks.

Operating system: Ubuntu 18.04 LTS

### Steps to Reproduce

1. Enable "breaks are fullscreen"
2. Skip to the next break/minibreak.

**Expected behavior:** Break goes fullscreen.

**Actual behavior:** Not fullscreen, di

[2018-07-27 14:25] danrazor opened #278 "Not installing on window 8.1"
### Prerequisites

- [ ] I'm using latest version: v

### Description

[stretchly not installing on windows 8.1]

Operating system: <windows 8.1>

### Steps to Reproduce

1. [downloaded the installer]
2. [run the installer]
3. [windows smartscreen stops the installation]

**Expected behavior:** [software should install and run]

**Actual behavior:** [does not install and web installer also install

[2018-07-27 14:41] hovancik commented on #278
HI and thanks for the report.

I am not familiar with Windows, so could you please explain what is "smartscreen" or make a screenshot?

[2018-07-27 18:49] MichaelDimmitt commented on #101
When the Electrino progresses further can we expect an Electrino branch in this project? If nothing else I think it will be really cool to see how they are getting it to work and how a packaged app on that branch would compare to a packaged app on the master branch.

[2018-07-27 20:41] styfle commented on #101
Electrino is basically dead. I reached out to the author several months ago on twitter and he was kind of overwhelmed.

[2018-07-29 11:45] jancborchardt commented on #160
When using Unsplash, I recommend using random featured images from the "nature" category: https://source.unsplash.com/random/featured/?nature. This then uses really nice-looking images (featured) and also cuts out the sometimes appearing NSFW image (slight nudity) because it's only nature.

I use that in the [Unsplash app for Nextcloud](https://github.com/jancborchardt/unsplash) and it works quite

[2018-07-29 11:48] jancborchardt commented on #253
Best would be to check the operating system and use the defaults. :) Then people don't have to fiddle with settings. Ubuntu and GNOME for example use monochrome icons, and there the colored one is quite out of place ;)
![screenshot from 2018-07-29 13-47-37](https://user-images.githubusercontent.com/925062/43365994-157bef76-9336-11e8-9186-6298277d84ab.png)

[2018-07-29 11:52] jancborchardt opened #279 "Tray icon sizing issue on GNOME/Ubuntu"
### Prerequisites

- [x] I'm using latest version: v0.17.0

### Description

The tray icon seems to be too small and shows repeated on the right of it:
![screenshot from 2018-07-29 13-47-37](https://user-images.githubusercontent.com/925062/43366021-71a23a62-9336-11e8-8baf-6752c226e51c.png)

Operating system: Ubuntu 18.04 with GNOME 3.28.1

### Steps to Reproduce

Happens always. Found no workaroun

[2018-07-29 13:12] itay-grudev commented on #253
Can you propose an automatic solution for checking the _Desktop Environment_ defaults?

[2018-07-29 13:41] jancborchardt commented on #253
Am not a programmer, but some searching showed that it might be possible via process.platform or [require('os').release()](https://nodejs.org/api/os.html#os_os_release). [Blog post](https://ourcodeworld.com/articles/read/108/how-to-get-operative-system-and-hardware-information-with-electron-framework) with more info.

There's also the library [electron-is](https://www.npmjs.com/package/electron-is

[2018-07-29 13:43] jancborchardt commented on #253
Oh and: On macOS the default is monochrome, as is on Ubuntu/GNOME. Since you mention that both Windows and KDE _also_ use monochrome icons, there probably does not need to be any checking anyway and the app should simply use monochrome icons by default? :)

[2018-07-29 16:55] itay-grudev commented on #253
It's not as easy as that. For example windows 10 uses monochrome icons. Previous versions don't. MacOS does, but not every **Desktop Environment** on Linux (Gnome and KDE do, some of the others don't). And AFAIK there is no API to check for that. So the simplest solution is a toggle in the settings of the app or the context menu of the tray icon. Though for compatibility with new system trays app

[2018-07-29 20:41] jancborchardt opened #280 "Blur effect on window for nicer integration"
### Prerequisites

- [x] I'm using latest version: v0.17.0

### Description

Currently the popover is a very stark contrast to the work environment and looks quite out of place, no matter the theme.

What might be cool is a blur effect on the overlay window which nicely puts it on top of your current work. There is a package called [electron-vibrancy](https://www.npmjs.com/package/electron-vibranc

[2018-07-30 07:19] hovancik commented on #279
Hi this a know electron issue unfortunately. https://github.com/electron/electron/issues/12791

[2018-07-30 07:57] hovancik commented on #280
I'll try it and add screenshot here to see what people say.

[2018-07-30 08:10] hovancik commented on #280
I'm trying from readme:

`  electronVibrancy.SetVibrancy(mainWindow, 0);` and it exists whole app without error

`electronVibrancy.SetVibrancy(true,browserWindowInstance.getNativeWindowHandle());` gives error `window.getSize is not a function`

If anyone has more success let me know here

[2018-07-30 15:45] jancborchardt commented on #253
Sure, but it’s all about defaults and making it look nice for the majority initially. :)

Windows 10, macOS, Gnome and KDE all use monochrome icons, and that covers a _lot_. And for all others it’s not really bad if it’s monochrome.

_But_ it does really look out of place when it’s colored in a monochrome environment. Hence a simple change to use a monochrome icon would fix it for most environment

[2018-07-31 12:52] Matsku12 opened #282 "Afk recognision."
Program should have option to recognise if watching vlc player or netflix and not counting that in so it wouldnt start breaks while watching something. It could work propably best if it detects that mouse and keyboard or controllers havent been used for couple of minutes.

[2018-07-31 13:57] hovancik commented on #282
Hi, stretchly already takes idle time into account (mouse and keyboard activity). But as your example with VLC says, for some reason OS does not count that as idle time... So there is nothing I can do about it...

With new release of electron, we will have new way of detecting idle time, so maybe something will change then (https://github.com/hovancik/stretchly/issues/258)

[2018-08-01 22:17] douglasg14b opened #283 "Download checksums"
### Description

Provide MD5 (or other) checksums for downloads to prove the downloaded files are what should have been retrieved from the download source.

It's not uncommon for attacks to occur that modify miscellaneous software downloads to inject malware these days (ie. through a compromised host). Having a checksum of what the file(s) should be is a good way to validate against this. And is j

[2018-08-02 08:39] hovancik commented on #283
Agreed. Will do with next release.

[2018-08-02 18:07] douglasg14b commented on #282
A simple idea:

Use mouse & keyboard hooks (At least in windows). And record the amount of mouse and keyboard activity with some thresholds that denote active vs inactive.

There is a lot that could go into that, but some simple things like infrequent and short mouse movements, or the use of the spacebar only on the keyboard might indicate that the user is doing something idle.

[2018-08-03 15:13] Matsku12 commented on #282
If you are going to add that would be super cool if you could also add at least xbox one controller to that list. I love this program and I play much so would be nice that those gaming sessions would also have breaks.

Also I dont know is it possible that program would notice afk time and instead of resetting whole counter the clock would just stop. I am using computer very much, but I would want

[2018-08-08 11:01] Sveijk commented on #280
Maybe we could add this issue to RGSoC project @hovancik ? Suggestion of @aleuca since we're now also looking into the custom changing of break background issue which is in the project.

[2018-08-13 09:03] hovancik commented on #280
:+1:

[2018-08-14 08:08] hovancik commented on #282
I'll wait for the new way of watching idle time with new electron release and we will see how it behaves

[2018-08-19 12:23] #243 closed, assigned to nobody

[2018-08-24 05:08] p520504 opened #286 "Request-password protect, prevent closing?"
Using stretchly v0.17.0 + Windows 7/10.

I want to setup stretchly in a way that user can not quit/change setting in strict mode.

I hope a password feature can be added in, such that when one clicked on the stretchly icon, a password needed to be entered before proceeding any further.

Also, if possible, I hope there is a way to prevent a standard user from terminating stretchly in task manager.

[2018-08-27 08:03] p-himik commented on #152
I switched from Workrave to Stretchly and would absolutely love to see the idleness detection being configurable either via the UI or via the config file.

[2018-08-27 10:07] p-himik opened #287 "Change the tray icon when Stretchly is paused"
### Prerequisites

- [x] I'm using the latest version: v0.17.0

### Description

Right now, if you pause Stretchly the icon stays the same even if the pause if indefinite. This say, it's really easy to forget about the pause.
I think, changing the icon in some way (e.g. graying or striking it out like Workrave does) during the pause would be helpful.

[2018-08-31 23:01] gordon556 opened #289 "Can't find Stretchly settings menu"
I just had my IT support help me install Stretchly today on my work computer (Windows 10), using his administrative login. It seems to be running with default settings now but I don't know how to access the settings menus I see on the Stretchly screenshots to customize it (like setting time between breaks, or pausing the app). Can someone point me in the right direction? Thank you!

[2018-09-01 08:52] hovancik commented on #289
hi, you should see stretchly icon in tray menu and when you click on it, you will get menu

[2018-09-01 08:54] hovancik commented on #287
yeah, I was thinking about this from beginning, but to be honest, I am not capable of creating icons :D not good with graphics

stretchly RGSoC students will try to look into this how many icons we need and if they can create them

[2018-09-02 07:01] p520504 commented on #286
yes, for sys admin ...to force standard user to take a rest

[2018-09-03 16:14] #240 closed

[2018-09-03 17:51] #253 closed

[2018-09-05 17:02] gordon556 commented on #289
Now I see it! I can get to it by right-clicking on the icon down in the system tray. Thank you!

[2018-09-05 17:40] hovancik commented on #289
great !

[2018-09-05 17:40] #289 closed

[2018-09-07 01:00] Hum4n01d opened #290 "Broken BitHound badges in README"
### Description

There are broken badges in the README.

### Steps to Reproduce

1. Visit https://github.com/hovancik/stretchly/

**Expected behavior:**

No broken badges in README.

**Actual behavior:**

There are broken badges in README.

![screen shot 2018-09-06 at 5 58 34 pm](https://user-images.githubusercontent.com/17228477/45192662-88d0e080-b1fe-11e8-82a1-21703eb68bab.png)

**Reproduces how

[2018-09-07 05:31] Hum4n01d commented on #266
I don’t think you need to use a full fledged database, couldn’t you just store things in the default `app.getPath('userData')` data folder?

[2018-09-08 22:32] Hum4n01d opened #293 "Mac Tray Icon Spacing"
### Prerequisites

- [x] I’m using latest version: v 0.17.0

### Description

The spacing of the tray icon on macOS is too small

Operating system: macOS High Sierra 10.13.6

### Steps to Reproduce

1. Open Stretchly

**Expected behavior:**

A `30x22` icon with equal spacing to all other tray applications:

![screen shot 2018-09-08 at 3 23 28 pm](https://user-images.githubusercontent.com/17228477/

[2018-09-08 22:33] Hum4n01d commented on #293
I will attempt to fix this myself

[2018-09-08 22:38] Hum4n01d opened #294 "Logo spacing"
### Description

I opened up [stretchly.svg](https://github.com/hovancik/stretchly/blob/master/stretchly.svg) and found a strange space around the logo path.

**Expected behavior:** [What you expect to happen]

![screen shot 2018-09-08 at 3 37 59 pm](https://user-images.githubusercontent.com/17228477/45259259-2d792c80-b37d-11e8-9e47-f11b35dfa4e8.png)

**Actual behavior:** [What actually happens]

[2018-09-09 07:02] hovancik commented on #294
Thanks! Feel free to create a PR

[2018-09-10 15:15] berkes opened #295 "Full screen gliches on Ubuntu 18.04 in Gnome Shell"
### Prerequisites

- [x] I'm using latest version: v 0.17.0

### Description

When switching to "full-screen", the windows remain in a partial square and text, progress-bar and skip-links are moved out of view. See screenshot:

![screenshot](https://user-images.githubusercontent.com/77059/45306013-e2495000-b51b-11e8-8c12-a097049215d5.png)

Operating system: Ubuntu 18.04.1 LTS
Dual Screen, Intel® H

[2018-09-10 16:39] hovancik commented on #295
closing as duplicate of #186 (still waiting on electron fix)

[2018-09-10 16:39] #295 closed

[2018-09-12 07:23] pjebs opened #296 "Prevent closing screen"
I was wondering how you managed to prevent the user from pressing `Cmd-W` to close the screen without using Kiosk mode?

[2018-09-12 07:54] hovancik commented on #296
I bet it's some weird electron thing. `cmd+q` closes the window for me (macOS).

[2018-09-13 07:06] pjebs commented on #296
How come you aren't using kioskmode?

[2018-09-14 13:01] hovancik commented on #296
I wanted to use it for fullscreen, but I had some issue with it, not working correctly with some option I needed or Operating System, don't remember

 But I might start using it, see #256

[2018-09-15 09:16] pjebs commented on #256
I think there is a setting in the app mac app bundle plist that helps but  I can't remember what it was.

[2018-09-28 05:00] Hum4n01d commented on #294
Will do when I get a chance :smile:

[2018-09-28 05:00] Hum4n01d commented on #294
Will do when I get a chance :smile:

[2018-09-30 13:18] hovancik commented on #189
Hey, no news right now, we are wrapping up Rails Girls Summer of Code and after that I will need to think about next set of features to be developed.

[2018-10-01 13:41] ErroneousBosch commented on #279
My icon is completely missing in Gnome. I tried removing the .config/stretchly dir, but it didn't seem to fix anything. Running vanilla gnome in X on Ubuntu 18.04.

[2018-10-01 13:48] hovancik commented on #279
@ErroneousBosch https://github.com/hovancik/stretchly#linux-note try this

[2018-10-01 14:56] ErroneousBosch commented on #279
Unfortunately, already installed in latest version

[2018-10-04 13:44] GHNalk2016 opened #301 "Countdown display on the interval notification"
### Prerequisites

- [ ] I'm using latest version: v0.17.0

### Description

Either as a system tray notification like now, or as a separate message it would be great to have a countdown before a break. When you're in the middle of a important work that would help to handle the situation more smoothly. I previously used "Eyes Relax" which had this functionally: https://themech.net/eyesrelax/

Oper

[2018-10-07 11:05] #148 closed

[2018-10-08 01:17] nicolae-stroncea opened #302 "Option to automatically postpone break when typing"
A lot of the time, it's very frustrating to be coding something, and have stretchly block the screen offering a break. An option for stretchly to initiate the break later, once there's some sort of typing break(let's say 5 seconds), would be appreciated.

[2018-10-10 15:09] hovancik commented on #302
Hi, we are thinking about implementing something like that in #189, feel free to subscribe there to get updates, but it's not coming any time soon (might be months or more)

[2018-10-10 15:09] #302 closed

[2018-10-12 18:15] hovancik commented on #301
Hi, new feature is coming soon, where in tray menu you will see time of the next break ;] hope that it fixes your issue

[2018-10-12 18:15] #301 closed

[2018-10-13 11:50] tim77 opened #303 "Didnt work on Fedora 29"
### Prerequisites

- [x] I'm using latest version: 0.17.0

### Description

Segmentation fault.

Operating system: Fedora 29 x64

[2018-10-13 12:05] GHNalk2016 commented on #301
Hi  hovancik,

Do you mean in the task bar area of the system tray (like how windows shows time and date)? That would be great if possible.

[2018-10-14 08:37] hovancik commented on #303
HI, can you show some screenshot? Or segmentation fault is everything you see?

How did you install?

[2018-10-14 08:38] hovancik commented on #301
That's not possible with electron ;/

What was added is message containing time and type of next break when you click on tray icon.

[2018-10-14 09:32] tim77 commented on #303
Hi! I installed Stretchly RPM package:
`sudo dnf install ./stretchly-0.17.0.x86_64.rpm`

Then when i run Stretchly:
`stretchly`

I got this:
`Segmentation fault`

![Screenshot](https://user-images.githubusercontent.com/5614476/46914923-14cbea00-cfad-11e8-876f-7896d4fe5061.PNG)

[2018-10-14 09:55] GHNalk2016 commented on #301
Can a countdown be added on the system tray popup?

[2018-10-14 10:03] hovancik commented on #301
Can you explain how you mean it? I'm not sure

[2018-10-14 10:36] GHNalk2016 commented on #301
Currently, stretchly shows a small popup message to notify before a break (like it shows in the image here: https://github.com/hovancik/stretchly/issues/111). So can it counts down the number of seconds inside that message, like "Microbreak in 30 seconds", "Microbreak in 29 seconds", 28, 27, etc.?

[2018-10-14 10:42] hovancik commented on #301
I gotcha, I checked the [docs](https://electronjs.org/docs/tutorial/notifications) and it does not seem to be possible ;/

[2018-10-14 11:28] GHNalk2016 commented on #301
OK, thanks for the time anyway 👍

[2018-10-16 13:39] CristianAven opened #305 "Minimalist Mode"
It will be very useful to have a minimalist mode, wich shows only a small message and not a almost-full screen message. This because in my work, people keep asking me why I'm watching the big green message and not working.
Also, it must lock the user actions, because it won't hide the active text or window.
I think this can be done with a transparent full screen object and a small message on the m

[2018-10-16 14:35] hovancik commented on #303
I don't have a Fedora but will try to create some VM when I have a time

[2018-10-16 15:38] #256 closed

[2018-10-17 08:48] appcenter[bot] opened #307 "Internal error while running"

[2018-10-18 18:00] hovancik commented on #305
I'll try to look into this, but with my free time available, not gonna happen any time soon ;/

[2018-10-19 03:45] btkostner commented on #307
This is because the repo contains no debian packaging.

It's worth noting that electron apps will not pass manual review for AppCenter.

[2018-10-19 07:11] hovancik commented on #307
oh well nevermind

[2018-10-19 07:11] #307 closed

[2018-10-19 11:49] l-4 commented on #244
Becoming an interruption is the main danger for Stretchly in my experience. I have yo-yoed, switching it off intermittently for this reason.

I came here to suggest some sort of "soft warning" or pre-notification before Stretchly pops up on screen. I had imagined the screen pulsating gently. This way one would be aware that shortly an interruption would happen and would have a chance to prepare fo

[2018-10-20 11:34] hovancik commented on #244
what platform are you on? You should be getting notifications before breaks

[2018-10-20 12:11] hovancik commented on #283
Hey, just checkind and files like latest-mac.yml have checksums inside ;]

[2018-10-20 12:11] #283 closed

[2018-10-21 14:10] hovancik commented on #303
@tim77 can you try with new version? 0.18.0

[2018-10-21 14:11] hovancik commented on #296
I'm using kiosk mode now for fullscreen

[2018-10-21 14:11] #296 closed

[2018-10-22 08:45] pwolaq opened #310 "Add possibility to translate breaks/microbreaks"
AFAIK there is no possibility to translate the default ideas for brake/microbreak. It would be nice to have this feature.

[2018-10-22 11:13] hovancik commented on #310
Hi, you can't translate them in app itself, but can do that via editing config file: https://github.com/hovancik/stretchly#editing-breakmicrobreak-ideas

[2018-10-22 13:25] RaghavendhraK opened #311 "Ubuntu 18.04 Only half break screen is shown"
Hi,
OS: Ubuntu 18.04 LTS.
Stretchly version: 0.18.0

In this system, whenever a break screen appears, that too on multiple monitor, only the first half of the break screen is shown in the screenshot.
![screenshot from 2018-10-22 18-42-45](https://user-images.githubusercontent.com/2741110/47294688-6d455c00-d62b-11e8-9ad4-d28dea70b172.png)

But If we click on any other screen, like about, settings o

[2018-10-22 14:14] hovancik commented on #311
Hi, do you have stretchly setup to be on fullscreen? (#186)

There is a issue with electron https://github.com/electron/electron/issues/11632

[2018-10-22 17:04] hovancik commented on #303
great to hear that!

[2018-10-22 17:04] #303 closed

[2018-10-23 12:33] dbtek opened #313 "Turkish translations"
### Prerequisites

- [x] I'm using latest version: v0.18.0

### Description

Translations for Turkish is missing. I've started to work on it and willing to create a PR.

[2018-10-23 14:09] dbtek commented on #310
Hi @hovancik, thanks for the stretchly and all the good work. I'm very happy with it.

How about implementing translation of ideas with [object & array translations](https://www.i18next.com/translation-function/objects-and-arrays)?

Something like this could work I guess:

[code]

[code]

[2018-10-24 17:42] #313 closed

[2018-10-24 17:44] hovancik commented on #310
Hi and thanks for the idea ;]

My plan is first to find some way to work with translations via some online service... Working with PRs kinda sucks: translations are hard to track and easy to get outdated ;/

After I solve this I wanna add translations for Break ideas. (Also I would like to stabilize break ideas first, they will need some work to make them better)

[2018-10-24 19:44] dbtek commented on #310
I see. Absolutely agree with you on difficulty of tracking updates for all
locales.

On Wed, Oct 24, 2018, 8:44 PM Jan Hovancik <notifications@github.com> wrote:

[2018-10-24 21:09] richardstevenhack opened #315 "Libappindicator not provided on openSUSE LEAP 15"
### Prerequisites

Stretchly 0.17.0 currently installed. Trying to install Stretchly 0.18.0

### Description

When attempting to install Stretchly 0.18.0 on openSUSE LEAP 15, I get the following response from the YAST Installer:

nothing provides libappindicator.so.1 needed by libappindicator-12.10.1+bzr20141110-lp150.3.1.noarch

    [ ] do not install stretchly-0.18.0-1.x86_64

    [ ] break liba

[2018-10-25 10:35] hovancik commented on #315
Hi, sorry for that. To be honest, I have no idea why it's like that. It might be problem with electron-builder, which I use to create packages, or might be something else. I did not find any issue in electron-builder related to this.

I've googled around and found https://github.com/Foundry376/Mailspring/issues/459#issuecomment-353335619 and https://github.com/jgraph/drawio-desktop/issues/51 so it

[2018-10-25 15:30] richardstevenhack commented on #315
OK, I will go ahead and break the dependency and see if it works well
enough. I'll let you know if it does. Worst that can happen is that I
revert to 17. Thanks for your response.

On Thu, Oct 25, 2018 at 3:35 AM Jan Hovancik <notifications@github.com>
wrote:

[2018-10-25 15:35] richardstevenhack commented on #315
Oh, one more note. After I told it to break the dependency, I got this
message as well:

Error: INVALID:stretchly-0.18.0-1.x86_64 (file-59bfa0bd): Signature
verification failed [6-File is unsigned]
Header SHA1 digest: OK
MD5 digest: OK
Package is not signed!

Might want to check that out.
On Thu, Oct 25, 2018 at 3:35 AM Jan Hovancik <notifications@github.com> wrote:

[2018-10-25 15:43] richardstevenhack commented on #315
OK, it seems to run all right.  It installed a different earlier version of
libappindicator to resolve the dependency issue apparently.

Installing libappindicator-12.10.1+bzr20141110-lp150.3.1.noarch.rpm
(installed size 0 B)
Installing stretchly-0.18.0.x86_64.rpm (installed size 132.99 MiB)

I only had these two libs installed:  libappindicator1
12.10.1+bzr20170215-lp150.3.1 and libappindicator3-

[2018-10-25 16:09] hovancik commented on #315
Glad it worked out in the end.

Packages are not signed, not sure if electron-builder supports that. I remember I could sign for Mac OS build but I don't have spare money to spend on some fancy certs ;]

Seems github is not signing atom as well https://github.com/atom/atom/issues/7635

[2018-10-25 16:09] #315 closed

[2018-10-26 09:28] fizvlad opened #316 "Russian translation for v0.18.0"
### Prerequisites

- [x] I'm using latest version: v0.18.0

### Description

No Russian translation for latest features

[2018-10-26 09:29] fizvlad commented on #316
I have already done some work on it, so I'll create PR soon

[2018-10-26 09:30] fizvlad commented on #316
Btw, is there nay way to open 'Welcome' page manually?

[2018-10-26 09:50] hovancik commented on #316
Hi and thanks for working on the update! ;]

Currently you can do it by editing config file and change the `isFirstRun` to false.

[2018-10-26 13:36] #316 closed

[2018-10-27 06:14] afonseca08 opened #318 "Next break time format does not match OS"
I'm using latest version: v0.18.0

### Description

The menu icon Next break time displays in 24 hour format despite my operating system setting display format being set to 12 hour format.

Operating system: macOS Mojave Version 10.14

### Steps to Reproduce

1. Click on stretchly menu icon
2. Observe next break time is displayed in 24 hour format
3. Compare to time format displayed in menu clock

[2018-10-27 14:09] hovancik commented on #221
So I've tried again and again some weird errors from MS. Giving up. I won't do appx.

[2018-10-27 14:41] #221 closed

[2018-10-27 16:44] #164 closed

[2018-10-28 07:03] dotchev opened #322 "Inconsistent monochrome tray icon color on Ubuntu"
Thanks for the nice app. I recently switched to it from another one.

### Prerequisites

- [x] I'm using latest version: v0.18.0

### Description

Tray icons in Ubuntu are monochrome too, but they use a light color while Stretchly icon uses a dark color. This also leads to poor contrast when a window is maximized. See screenshots.

Operating system: Ubuntu 18.04.1 LTS

### Steps to Reproduce

1. I

[2018-10-28 08:52] hovancik commented on #322
Hard to say, but I think this is problem with Ubuntu. Kinda.

This is what MacOS does, and the icon is the same as in Ubuntu:

![stretchly-tray-3](https://user-images.githubusercontent.com/4745859/47613866-c0d60080-da96-11e8-844e-6771d676b942.png)

Meaning it somehow changes color of the icon  depending on color scheme of interface. I don't think I can fix icon for Ubuntu as from nodejs I only get

[2018-10-29 10:22] #311 closed, assigned to nobody

[2018-10-29 15:48] Hum4n01d opened #324 ".bithoundrc still exists"
### Description

The BitHound service no longer exists but there is still a configuration file present in the root directory (`.bithoundrc`)

### Steps to Reproduce

1. Look at filenames :wink:

**Expected behavior:** No file
**Actual behavior:** There is a configuration file

**Reproduces how often:** 100%

### Additional Information

Related #290

[2018-10-29 16:54] #324 closed

[2018-10-30 07:02] Nirose opened #326 "[request] Sound alert before or at start of a break"
### Prerequisites

- [x] I'm using latest version: v0.18.0

### Description

Most of the time i do not notice the notification on the bottom bar and the large box starts up abruptly blocking what i was doing. A sound or a count down could help? with an option to toggle it.

Operating system: Windows 10 (Version 10.0.17134.345)

### Steps to Reproduce

No sound played at the beginning of the break

[2018-10-30 07:50] #293 closed

[2018-10-30 07:50] #294 closed

[2018-10-30 10:46] hovancik commented on #326
Hi and thanks for the feedback.

I don't have windows machine, but doesn't the notification play sound?

[2018-10-30 11:48] Nirose commented on #326
i don't think it does. Stretchly only plays sound at the end of the break. for me at least

[2018-10-30 13:37] asterite opened #327 "[Request] Disable notification sound before alert"
### Prerequisites

- [x] I'm using latest version: v0.18.0

### Description

[Description of the issue]

Operating system: macOS High Sierra 10.13.6

### Steps to Reproduce

1. Click on the tray icon
2. Click on "Settings"
3. Click on the right arrow to advance to the next page
4. In "audio scheme" choose "silence"

**Expected behavior:** If I choose "silence" I expect no sounds at all coming from

[2018-10-31 04:03] curreta commented on #318
I did some debugging, I think the fix is:

On this [line](https://github.com/hovancik/stretchly/blob/ce016f9cd5cffcd63a0e4d0c977574f19dc94404/app/main.js#L55):

- Include momentJS
- Use the "[Formatting](https://www.i18next.com/translation-function/formatting)" section of i18next. Example formatting from link below:

`i18next.init({
    interpolation: {
        format: function(value, format, lng)

[2018-10-31 07:43] Nirose commented on #326
your answer got me thinking if it was because Windows Sound settings were set to "no sounds". And seems like it was it. I set a sound to just for Notification and it's working now.

Thanks

[2018-10-31 07:43] #326 closed

[2018-10-31 13:30] hovancik commented on #326
Glad it worked out!

[2018-10-31 16:16] hovancik commented on #327
Hi there and thanks for the feedback.

Yeah, the sound scheme is sound at the end of break.

It's not possible to disable notification sound from app, AFAIK. To get rid of sound you can disable whole notifications at 3th settings page ;/

There might be some setting in MacOS to turn off notifications sound, don't know. (There is such a option in WIndows)

[2018-11-01 03:56] FanciestW commented on #287
I would like to help, I see that this issue a good first issue and being that I am still new to open source contribution I would love to start with this issue. I think I can get some work done to:

* Mock up possible "paused" tray icons
(I'm not a designer but I work with a team of very talented designers)
* Add in the code needed to change the tray icon when Stretchly is paused
* And finally subm

[2018-11-01 09:14] hovancik commented on #287
Hi @FanciestW and thanks for your interest! What you wrote makes sense ;] I would be very happy to help you!

There is no deadline, so if you can post some mockups of icons, that would be great.

Only one thing comes to my mind: the colorfull icon that we use right now is not done very well (it's not svg, and there are some problems with borders and so.) Maybe you could start with that? Not sure h

[2018-11-01 15:28] hovancik commented on #255
If this is still issue, please let me know, I'm closing for now.

[2018-11-01 15:28] #255 closed

[2018-11-01 15:30] hovancik commented on #258
Small update: there is a bug with electron 3: https://github.com/electron/electron/issues/15161 so I am still using version 2 for now.

[2018-11-01 21:20] asterite commented on #327
@hovancik Thank you! Don't worry, I will send a PR for this so you have an initial codebase :-)

[2018-11-02 14:55] FanciestW commented on #287
@hovancik You got it! I am taking the colorful icon from the root directory of the project and editing it to fix the borders and also convert it into an SVG. I removed the shadow of the colorful icon and also cleaned up the border. Here is a mockup (PNG) before I convert it to a SVG.
![stretchly_128x128_edit2](https://user-images.githubusercontent.com/9480166/47922586-cadc7280-de8d-11e8-8725-9cee3

[2018-11-02 15:08] asterite opened #330 "`npm run lint` fails"
### Prerequisites

- [x] I'm using latest version: v

### Description

Running `npm run lint` gives a few errors, all of them related to whitespaces surrounding `{` and `}`. This is a bit confusing for contributors because they are expect to run this and have this pass.

Operating system: Mac Mojave

### Steps to Reproduce

1. Execute `npm run lint`

**Expected behavior:** No errors

**Actual beha

[2018-11-03 11:30] hovancik commented on #330
Interesting, something must have changed with lint, as this was never issue before.

[2018-11-03 13:16] hovancik commented on #287
Looks nice!

[2018-11-04 14:57] hovancik commented on #327
closing ;] thanks for PR

[2018-11-04 14:57] #327 closed

[2018-11-05 18:39] sxmanton commented on #156
@hovancik my apologies. I would still like to do this at some point, but haven't found any time for it. If you want to close the issue that's fine. If I ever get around to it I can just reference the closed issue in PR

[2018-11-06 04:33] FanciestW commented on #287
What do you thinks of these paused SVG icons for Stretchly? I can't upload a SVG but below are the two SVGs converted into PNGs.
I took Stretchly tray icons and just added a pause icon on top. I followed the design pattern of Microsoft OneDrive on how they overlay a pause icon when you pause syncing on OneDrive.
Let me know which one of the two paused icons you like better. 😄
<img width="26" alt="

[2018-11-06 16:55] FanciestW commented on #287
Will the colorful icon be updated when the Stretchly is paused? My understanding was that only the tray icon will be updated to show the paused status.

[2018-11-07 10:50] hovancik commented on #287
default icon is the monochrome, but users can choose to use colorful one (they look better on Windows and Linux)

[2018-11-07 12:56] hovancik commented on #156
these guys have it, but haven't checked that  https://github.com/desktop/desktop

[2018-11-11 04:04] et2010 commented on #322
I have the same issue on Manjaro. Besides, the size of the icon is not right either. Here is what I got when switching to non monochrome icon:

![image](https://user-images.githubusercontent.com/11584902/48308948-cf014200-e5a9-11e8-847d-a51ddf875499.png)

[2018-11-11 08:51] hovancik commented on #322
@et2010 yeah, that is know issue with electron, we will have to wait for their fix ;/ https://github.com/electron/electron/issues/12791

[2018-11-12 04:09] FanciestW commented on #287
Ignore the above un-finished garbage, here is the finished versions:
(Without Shadow)
<img width="735" alt="screen shot 2018-11-11 at 11 04 25 pm" src="https://user-images.githubusercontent.com/9480166/48326246-3ea51a80-e606-11e8-9771-e5a83b5ed3a9.png">
(With Shadow)
<img width="735" alt="screen shot 2018-11-11 at 11 08 44 pm" src="https://user-images.githubusercontent.com/9480166/48326336-cee35f8

[2018-11-12 06:45] hovancik commented on #287
@FanciestW wow, this is amazing! I really appreciate your work!

I like the one with shadow more ;] the change from S to colors seems more natural to me ;]

[2018-11-13 19:22] FanciestW commented on #287
@hovancik Okay I will export both version into a PNG and SVG. However, I have run into an issue when I export as an SVG. The exported SVG gets all messed up. I'm not sure if it is an issue with Sketch or just the way I made the icon. But I will send it to some graphic designers to diagnose the issue. I'll keep you updated. Thank you!

[2018-11-21 11:12] dyipon commented on #152
Please add support to "idle detection sleep" support sleep/poweroff.  Now if I sleep the computer for 20 minutes, after wakeup I get a microbreak immediately. Thanks

[2018-11-21 13:08] hovancik commented on #152
@dyipon  what OS are you on? this works for me in windows/mac last time I checked

[2018-11-21 13:10] dyipon commented on #152
up-to-date Windows 10.

[2018-11-26 16:03] FanciestW commented on #287
Thanks to my more creative friend was able to get it working and has exported it as an SVG. Sorry it took a while but I will open a PR with the new colorful icon as SVG.

[2018-11-26 16:19] hovancik commented on #287
That sounds great!

[2018-11-26 16:35] hovancik commented on #152
Well, I guess they changed something again... Will have to look

[2018-12-03 05:59] aGoogleFan commented on #108
I would be glad to help you add Persian/Farsi language, but I donnu how.

[2018-12-03 09:54] hovancik commented on #108
@aGoogleFan the easiest would be to create a PR. Do you know how to do it?

[2018-12-03 09:58] aGoogleFan commented on #108
unfortunately, I don't know.
i would be appreciate if you link me to an instruction about doing such a job.

[2018-12-03 20:28] xWee opened #336 "Hide tray icon"
Hi! Thanks for Stretchly.
Please add possibility to hide tray icon for more control, because I can skip breaks sometimes, but I really don't want it.

[2018-12-04 07:14] xinxuzhang opened #337 "SettingsFiles path is not displayed with correct slashes on Windows."
### Prerequisites

- [x] I'm using latest version: v0.18.0

### Description

[Description of the issue]

Operating system: Windows 10.0.17134 Build 17134

### Steps to Reproduce

1. Open About dialog.

**Expected behavior:**
The settings file path should be like C:\Users\XXX\AppData\Roaming\stretchly\config.json

**Actual behavior:**
settingsFile: C:\Users\XXX\AppData\Roaming\stretchly/config.json

[2018-12-04 15:57] hovancik commented on #336
Hi, I am not sure if I understand. How would hiding stretchly icon help? We would not be able to control/change/quit/see info anymore...

You probably want to enable "strict mode" in settings which wont let you skip breaks

[2018-12-04 15:58] hovancik commented on #108
@aGoogleFan  what platform are you on?

github has docs here: https://help.github.com/articles/about-pull-requests/

if you are not familiar with git in general, this might be too hard

[2018-12-04 16:00] hovancik commented on #337
Thanks for the report ;]

Would you like to create a PR to fix this? It's an easy fix..

[2018-12-04 17:33] xWee commented on #336
It's enabled, but when I press Start button (or alt+tab) and then right mouse button on tray icon I can close the programm.  Like this:
![1231](https://user-images.githubusercontent.com/19345719/49461008-c3e5ae80-f803-11e8-9ac0-2add1f60f4a1.jpg)

[2018-12-05 00:42] xinxuzhang commented on #337
Cool, I'll do it later.

[2018-12-05 07:44] hovancik commented on #337
Great ;] I might be wrong, but using `path.join` should take care of differences in OSes.

[2018-12-05 08:18] hovancik commented on #336
Sorry but help here ;/ Even if I close remove the icon tray, one can always run some sort of process manager and quit stretchly... There is no way to prevent user from closing app

I was looking into preventing alt-tab some time ago but never found any solution for electron apps

[2018-12-05 08:18] #336 closed

[2018-12-06 07:56] #337 closed

[2018-12-06 12:16] whiver opened #339 "Displaying on the primary monitor"
### Prerequisites

- Running v0.18.0
- OS: Windows 10

### Description

I have 3 monitors and the primary one isn't the one displaying the reminders. Though, #61 seems to say that it's the expected behavior.
In fact the reminders are always are always displayed on the 3rd monitor, the one at the right. I tried to unplug the monitor and skip to the next break, and the reminder was then displayed on